<!--Header de Contenido -->
<div class="header bg-primary pb-6">
    <div class="container-fluid">
        <div class="header-body">
            <div class="row align-items-center py-4">
                <div class="col-lg-6 col-7 TopMig">
                    <nav aria-label="breadcrumb" class="d-none d-md-inline-block ml-md-4">
                        <ol class="breadcrumb breadcrumb-links breadcrumb-dark">
                            <li class="breadcrumb-item"><a routerLink="/adlistalumnos"><em class="fas fa-home"></em></a></li>
                            <li class="breadcrumb-item active" aria-current="page">{{'MUSUARIOS'| translate}}</li>
                        </ol>
                    </nav>
                </div>

                <div class="col-lg-6 col-5 text-right" *ngIf="BtRegOp">

                    <button id="btnReg" nz-button nz-dropdown class="btn btn-lg btn-primary principal registro" [nzDropdownMenu]="menuReg" *ngIf="BtRegOp">
                      <em class="fa fa-user-plus" style="font-size: 15px;"></em>
                      <span class="btnsup pl-1">{{'MREGUSS'| translate}}</span>
                    </button>
                    <nz-dropdown-menu #menuReg="nzDropdownMenu">
                        <ul nz-menu>
                            <li nz-menu-item class="MenIt">
                                <a routerLink="/adregistro"><em nz-icon nzType="user-add" nzTheme="outline"></em>{{'MREGUS'| translate}}</a>
                            </li>
                            <li nz-menu-item class="MenIt">
                                <a data-toggle="modal" data-target="#datosdoc" (click)="Reset()"><em nz-icon nzType="usergroup-add" nzTheme="outline"></em> {{'MREGARDOC'| translate}}</a>
                            </li>
                            <li nz-menu-item class="MenIt">
                                <a data-toggle="modal" data-target="#datosest" (click)="Reset()"><em nz-icon nzType="usergroup-add" nzTheme="outline"></em> {{'MREGAREST'| translate}}</a>
                            </li>
                        </ul>
                    </nz-dropdown-menu>
                </div>

            </div>
        </div>
    </div>
</div>
<!--/.Header de Contenido -->
<!-- Contenido -->
<div class="container-fluid mt--6">
    <div class="row justify-content-center">
        <div class="col-lg-11 col-md-12">
            <!-- Card -->
            <div class="card">
                <!-- Card header -->
                <div class="card-header border-0" id="printis">

                    <div class="row head">
                        <div class="col-auto col">
                            <div class="icon icon-shape bg-gradient-icon text-white rounded-circle shadow">
                                <em class="fa fa-users"></em>
                            </div>
                        </div>
                        <div class="col">
                            <h2 class="mb-0 tabtit">{{'MLISUSREG'| translate}}</h2>

                        </div>
                        <div class="col" hidden>
                            <div class="form-group">
                                <input type="text" class="form-control" name="filterPost" placeholder="Aqui va el rolsito" [(ngModel)]="filterPost">
                            </div>
                        </div>

                        <div class="col-lg-4" id="buscar" *ngIf="filtro">
                            <nz-input-group nzSearch [nzAddOnAfter]="suffixIconButton">

                                <input type="text" nz-input placeholder="{{'MBUSDNI'| translate}}" [formControl]="filtroDNI" *ngIf="fp1">
                                <input type="text" nz-input placeholder="{{'MBUSNOM'| translate}}" [formControl]="filtroNombre" *ngIf="fp2">
                            </nz-input-group>
                            <ng-template #suffixIconButton>
                                <button class="btn btn-primary" nz-dropdown style="border-radius: 0;border: 1px solid dodgerblue;" nzSearch [nzDropdownMenu]="menu1" nzPlacement="bottomRight">
                                <em nz-icon class="mr-1" nzType="search" style="font-size: 1.3em; font-weight: 900;" ></em><em nz-icon nzType="down" nzTheme="outline" style="font-size: .6em;"></em>
                            </button>
                                <nz-dropdown-menu #menu1="nzDropdownMenu">
                                    <ul nz-menu>
                                        <li nz-menu-item (click)="buscar(DNI)" (click)="searchDNI()">DNI</li>
                                        <li nz-menu-item (click)="buscar(Nombre)" (click)="searchNombre()">{{'MNOMBRE'| translate}}</li>

                                    </ul>
                                </nz-dropdown-menu>
                            </ng-template>
                        </div>

                    </div>
                    <hr>
                    <div class="form-group" *ngIf="filtro">
                        <div class="row">
                            <span class="mb-2 ml-3" nz-typography style="font-weight: 600;"> <em class="fas fa-angle-right" style="font-size: 1em; color: dodgerblue;"></em> {{'MFILUS'| translate}}</span> <br>
                        </div>
                        <div class="row head justify-content-right">
                            <div class="col-lg-9 col-7">
                                <div class="row">
                                    <div class="col-lg-4 col-12">
                                        <div class="form-group">
                                            <input class="form-check-inline" type="checkbox" value="" id="defaultCheck1" (change)="onChange($event.target.checked)">
                                            <label class="form-check-label" for="defaultCheck1">{{'MFILEST'| translate}}</label>
                                        </div>
                                    </div>
                                    <div class="col-lg-4 col-12">
                                        <div class="form-group">
                                            <input class="form-check-inline" type="checkbox" value="" id="defaultCheck2" (change)="onChange1($event.target.checked)">
                                            <label class="form-check-label" for="defaultCheck2">{{'MFILDOC'| translate}}</label>
                                        </div>
                                    </div>
                                    <div class="col-lg-4 col-12">
                                        <div class="form-group">
                                            <input class="form-check-inline" type="checkbox" value="" id="defaultCheck3" (change)="onChange2($event.target.checked)">
                                            <label class="form-check-label" for="defaultCheck3">{{'MFILOPE'| translate}}</label>
                                        </div>
                                    </div>
                                </div>


                            </div>

                        </div>
                    </div>

                </div>
                <!-- /.Card header -->
                <!-- Card body -->
                <div class="card-body border-0">
                    <hr *ngIf="filtro">
                    <nz-spin [nzSpinning]="isSpinning">
                        <nz-table #filterTable class="pb-5" [nzPageSize]="10" [nzData]="estudiantes" [nzScroll]="{ y: '24em' }">

                            <thead>
                                <tr>
                                    <th scope="col" class="sort" nzWidth="100px" *ngFor="let column of listOfColumns; trackBy: trackByName" [(nzSortOrder)]="column.sortOrder" [nzSortFn]="column.sortFn" [nzFilters]="column.listOfFilter" [nzFilterFn]="column.filterFn">{{ column.name }}</th>
                                    <th scope="col" class="sort" nzWidth="200px" *ngFor="let column1 of listOfColumns1; trackBy: trackByName" [(nzSortOrder)]="column1.sortOrder" [nzSortFn]="column1.sortFn" [nzFilters]="column1.listOfFilter" [nzFilterFn]="column1.filterFn">{{ column1.name }}</th>
                                    <th scope="col" class="sfil sort" nzWidth="120px">{{'MOPCIO'| translate}}</th>

                                </tr>
                            </thead>
                            <tbody class="tablasFil">
                                <tr *ngFor="let user of filterTable.data" nzTooltipTitle="{{'MDATCOM'| translate}}" nz-tooltip>

                                    <td class="tdbotones" scope="row" (click)="openLg(content1)" nz-tooltip (click)="getDetallesAlumnos(user.id)">
                                        {{user.DNI}}
                                    </td>
                                    <td scope="row" (click)="openLg(content1)" nz-tooltip (click)="getDetallesAlumnos(user.id)">
                                        {{user.Nombre}}
                                    </td>
                                    <td scope="row" (click)="openLg(content1)" nz-tooltip (click)="getDetallesAlumnos(user.id)">
                                        {{user.Correo}}
                                    </td>

                                    <td class="tdbotones">
                                        <button class="mr-1 but1" nz-button nzType="primary" nzGhost nzShape="circle" nzTooltipTitle="{{'MVERPRO'| translate}}" nz-tooltip routerLink="/verprograma/{{user.id}}"> <em class="fas fa-file-alt"></em></button>
                                        <button class="mr-1 but2" nz-button nzType="default" nzDanger nzShape="circle" nzTooltipTitle="{{'MELREG'| translate}}" nz-tooltip (click)="eliminar(user.id)" *ngIf="TabOp"><em class="ngbut" nz-icon nzType="delete" ></em></button>
                                        <button class="mr-1 but3" nz-button nzType="default" nzInfo nzShape="circle" nzTooltipTitle="{{'MEDREG'| translate}}" nz-tooltip routerLink="/admodalumno/{{user.id}}" *ngIf="TabOp"><em class="far fa-edit"></em></button>
                                    </td>


                                </tr>
                            </tbody>
                        </nz-table>
                    </nz-spin>
                </div>
                <!-- /.Card body -->
            </div>
            <!-- ./Card -->
        </div>
    </div>
</div>
<!-- /.Contenido -->
<!-- DALTONISMO NO TOCAR!! -->
<!-- <div class="fijo" nz-tooltip nzTooltipTitle="Usar en caso de daltonismo">
    <nz-switch [(ngModel)]="switchValue" nzCheckedChildren="On" nzUnCheckedChildren="Off" (click)="clickSwitch()"></nz-switch>
</div> -->
<!-- DALTONISMO NO TOCAR!! -->


<div class="modal fade" id="datosdoc">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header justify-content-center">
                <h2 class="modal-title">
                    {{'MCARDDOC'| translate}}
                </h2>
            </div>
            <div class="modal-body">
                <form>
                    <div class="form-group" style="margin-bottom: 0;">
                        <div class="row">
                            <div class="col-8" *ngIf="subio">
                                <label for="recipient-name" class="col-form-label">{{'MCARAR'| translate}}</label>
                                <input type="file" id="file" class="form-control-file" (change)="handleFileInputDoc($event.target.files)">
                                <span [innerHTML]="resultDoc"></span>
                                <div *ngIf="FileValShow" class="errorForm">
                                    <p>
                                        *{{'MSUBXLS'| translate}}
                                    </p>
                                </div>
                            </div>

                            <div *ngIf="cargando" class="justify-content-center align-items-center text-center col-12" style="padding: 0; margin:0px; border:none;">
                                <span style="margin-left: -10px;">{{'MCARGAN'| translate}}...</span>
                                <div class="row justify-content-center align-items-center text-center">
                                    <img src="assets/images/cargando.gif" alt="" height="100px">

                                </div>
                                <span style="margin-left: 10px;">{{'MTARMIN'| translate}}.</span>

                            </div>

                            <div class="col-4" *ngIf="subio">
                                <div class="form-group" style="float:right; padding-right: 2em;">
                                    <button class="down" nzType="dashed" (click)="getDocente()">
                                  <em nz-icon nzType="download" ></em><br>
                                  {{'MDESCAR'| translate}} <br>{{'MFORMAT'| translate}}
                                </button>
                                </div>
                            </div>

                        </div>

                    </div>
                    <div class="row">
                        <div class="col-12" *ngIf="exito">
                            <div class="alert alert-success" role="alert" data-auto-dismiss="2000">
                                {{mensaje2}}
                            </div>
                        </div>
                    </div>
                    <!------------ LISTADO -------------->
                    <div class="table-responsive" *ngIf="exito">
                        <table aria-describedby="Tabla de resultados de carga" class="table">
                            <thead>
                                <tr>
                                    <th scope="col" class="sort" data-sort="name">
                                        <em class="fa fa-list"></em> {{'MRESAR'| translate}}</th>
                                </tr>
                            </thead>
                            <tbody class="list">
                                <tr *ngFor="let user of listadeMensaje">
                                    <td scope="row">{{user}}</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                    <!------------ /LISTADO -------------->

                </form>
            </div>
            <div class="modal-footer justify-content-between" *ngIf="subio">
                <button class="btn btn-danger" data-dismiss="modal">{{'MCANCEL'| translate}}</button>
                <button class="btn btn-lg btn-success" (click)="cargarDoc()">{{'MCARGAR'| translate}}</button>
            </div>
        </div>
        <!-- /.modal-content -->
    </div>
    <!-- /.modal-dialog -->
</div>
<!-- /.modal -->

<div class="modal fade" id="datosest">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header justify-content-center">
                <h2 class="modal-title">
                    {{'MCARDATEST'| translate}}
                </h2>
            </div>
            <div class="modal-body">
                <form>
                    <div class="form-group" style="margin-bottom: 0;">
                        <div class="row">
                            <div class="col-8" *ngIf="subio">
                                <label for="recipient-name" class="col-form-label">{{'MCARAR'| translate}}</label>
                                <input type="file" id="file" class="form-control-file" (change)="handleFileInput($event.target.files)">
                                <span [innerHTML]="resultEst"></span>
                                <div *ngIf="FileValShow1" class="errorForm">
                                    <p>
                                        *{{'MSUBXLS'| translate}}
                                    </p>
                                </div>
                            </div>
                            <div *ngIf="cargando" class="justify-content-center align-items-center text-center col-12" style="padding: 0; margin:0px; border:none;">
                                <span style="margin-left: -10px;">{{'MCARGAN'| translate}}...</span>
                                <div class="row justify-content-center align-items-center text-center">
                                    <img src="assets/images/cargando.gif" alt="" height="100px">

                                </div>
                                <span style="margin-left: 10px;">{{'MTARMIN'| translate}}.</span>

                            </div>
                            <div class="col-4" *ngIf="subio">
                                <div class="form-group" style="float:right; padding-right: 2em;">
                                    <button class="down" nzType="dashed" (click)="getEstudiante()">
                                <em nz-icon nzType="download"></em><br>
                                {{'MDESCAR'| translate}} <br>{{'MFORMAT'| translate}}
                              </button>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-12" *ngIf="exito">
                            <div class="alert alert-success" role="alert" data-auto-dismiss="2000">
                                {{mensaje}}
                            </div>
                        </div>
                    </div>
                    <!------------ LISTADO -------------->
                    <div class="table-responsive" *ngIf="exito">
                        <table aria-describedby="Tabla de resultados de carga" class="table">
                            <thead>
                                <tr>
                                    <th scope="col" class="sort" data-sort="name">
                                        <em class="fa fa-list"></em> {{'MRESAR'| translate}}</th>
                                </tr>
                            </thead>
                            <tbody class="list">
                                <tr *ngFor="let user of cortandoMensaje">
                                    <td scope="row">{{user}}</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                    <!------------ /LISTADO -------------->

                </form>
            </div>
            <div class="modal-footer justify-content-between" *ngIf="subio">
                <button class="btn btn-danger" data-dismiss="modal">{{'MCANCEL'| translate}}</button>
                <button class="btn btn-lg btn-success" (click)="cargarEst()">{{'MCARGAR'| translate}}</button>
            </div>
        </div>
        <!-- /.modal-content -->
    </div>
    <!-- /.modal-dialog -->
</div>
<!-- /.modal -->


<!-- Detalles Alumno -->
<ng-template #content1 let-modal>
    <div style="box-shadow: 0 7px 7px rgba(47, 47, 49, 0.486);">
        <div class="modal-header modalghead">
            <div style="float: left !important">

                <h1 class="modal-title modb"><em class="fa fa-graduation-cap" style="color: #ffffff !important;margin-right: .3em; "></em> {{'MDETUS'| translate}}</h1>
            </div>
            <button type="button" class="closeBG" aria-label="Close" (click)="modal.dismiss('Cross click')">
        <span aria-hidden="true">&times;</span>
    </button>
        </div>
        <div class="modal-body modalgbody p-5" style="padding-top: 1em !important;">

            <!-- FORMULARIO -->
            <form novalidate>

                <mat-card>

                    <div class="row reboñeñe">

                        <div class="cardatos col-12">
                            <nz-descriptions nzSize="small" [nzColumn]="1">
                                <nz-descriptions-item nzTitle="{{'MNOMAP'| translate}}:" [nzSpan]="1">{{detallesAlumno.Detalles.Nombre}}</nz-descriptions-item>
                                <nz-descriptions-item nzTitle="{{'MCELEC'| translate}}:" [nzSpan]="1">{{detallesAlumno.Detalles.Correo}}</nz-descriptions-item>

                                <nz-descriptions-item nzTitle="DNI" [nzSpan]="1">{{detallesAlumno.Detalles.DNI}}</nz-descriptions-item>
                                <nz-descriptions-item nzTitle="{{'MDIREC'| translate}}:" [nzSpan]="1">{{detallesAlumno.Detalles.Direccion}}</nz-descriptions-item>
                                <nz-descriptions-item nzTitle="{{'MROLES'| translate}}:" [nzSpan]="1">
                                    <span *ngIf="detallesAlumno.Detalles.Operador==1" class="badge badge-primary">{{'MFILOPE'| translate}}</span>
                                    <span *ngIf="detallesAlumno.Detalles.Docente==1" class="badge badge-info">{{'MFILDOC'| translate}}</span>
                                    <span *ngIf="detallesAlumno.Detalles.Estudiante==1" class="badge badge-warning">{{'MFILEST'| translate}}</span>
                                </nz-descriptions-item>

                            </nz-descriptions>
                        </div>

                    </div>

                </mat-card>


            </form>
            <!-- FORMULARIO -->

        </div>
    </div>
</ng-template>

<!-- /.modal -->