@media (min-width: 511px) {
    .card {
        padding-left: 1.5em;
        padding-right: 1.5em;
        padding-top: 1em;
    }
}

.card-header {
    margin-bottom: 0;
    padding: 1.25rem 1.5rem;
    border-bottom: 1px solid rgba(0, 0, 0, .05);
    background-color: #fff;
    /* border-radius: 1em; */
}

.MenIt:hover {
    text-decoration: none;
    color: dodgerblue;
    background-color: transparent;
}

.tabtit {
    font-weight: 700;
    font-size: 1.4em;
    letter-spacing: -10;
    padding-bottom: 1em;
    /* padding-left: 1em; */
    color: rgba(36, 36, 36, 0.911);
}

@media (max-width: 478px) {
    .tabtit {
        font-size: 1.2em;
    }
}

.head {
    margin-bottom: -2em;
    padding-bottom: -2em;
}

.mt--6,
.my--6 {
    margin-top: -5.5rem !important;
}

.card {
    margin-bottom: 30px;
    border-radius: .6em;
    box-shadow: 0 7px 14px rgba(47, 47, 49, 0.486);
}

.header {
    position: relative;
    min-height: 200px;
    background: linear-gradient(87deg, #7a3939 0, #583030 100%) !important;
}

.subcard {
    margin-top: 100px;
}

.HeadCont {
    padding-left: 50px;
}

.well {
    color: #068a53;
}

.sort {
    font-weight: 500 !important;
    color: rgb(13, 70, 134);
    font-size: 1em;
    text-align: center;
    align-items: center;
}

.breadcrumb-item {
    font-size: small;
    text-decoration: none;
}

.TopMig {
    padding-left: 3%;
}

@media (max-width: 992px) {
    .TopMig {
        padding-left: 0%;
    }
}


/**adsfsdasdakshdgaksdgajksgdjagsdkajgsdkjagsdj*/

.table {
    width: 100%;
    margin-bottom: 1rem;
    /* color: #525f7f; */
    background-color: transparent;
    font-size: 0.9em;
}

.table th {
    padding: 1rem;
    vertical-align: top;
    font-weight: 400;
}

@media (max-width: 590px) {
    .btnsup {
        display: none;
    }
}

.Nombre {
    font-size: .9em;
    font-weight: 400;
    color: #000;
}

.btn1 {
    font-size: .7rem;
    position: relative;
    transition: all .15s ease;
    /*
letter-spacing: .015em; */
    text-transform: none;
    will-change: transform;
    color: rgb(185, 185, 185) !important;
    text-decoration: none;
    display: inline-block
}

.btn1:hover {
    transform: translateY(-1px);
    box-shadow: 0 7px 14px rgba(50, 50, 93, .1), 0 3px 6px rgba(0, 0, 0, .08);
    background-color: rgba(85, 161, 224, 0.925);
    color: white !important;
}

.btn {
    box-shadow: 0 7px 14px rgba(50, 50, 93, .1), 0 3px 6px rgba(0, 0, 0, .08);
    text-transform: none;
    will-change: transform;
    border: none;
    font-size: .8em;
    font-weight: 400;
}

.principal {
    background-color: #1874dd;
    color: white !important;
}

.registro {
    margin-right: 5em;
}

@media (max-width: 991px) {
    .registro {
        margin-right: 1em;
    }
}

@media (max-width: 667px) {
    .registro {
        margin-right: 0em;
    }
}

.btn:hover {
    transform: translateY(-1px);
    background-color: #5962b4;
}

.blancov:hover {
    transform: translateY(-1px);
    background-color: #02af84;
    color: white !important;
}

@media (max-width: 1060px) {
    .btnTxt {
        display: none;
        /* display: block;
font-size: 10px; */
    }
}

.text-white {
    font-weight: 500;
}

.modal {
    border-radius: 0;
    box-shadow: 0 7px 14px rgba(50, 50, 93, 0.192), 0 3px 6px rgba(0, 0, 0, .08);
}

.modal-header {
    /* background-color: #3897bc; */
    background-image: linear-gradient(to right, #035382, #33c4e5);
    color: white;
}

.modal-title {
    color: white;
}

.form-group {
    font-size: 14px;
    font-weight: 500;
}

input,
select,
textarea {
    font-size: small;
}

.table-responsive {
    height: 13em;
}

thead,
thead th {
    position: -webkit-sticky;
    /* for Safari */
    position: sticky !important;
    top: 0;
    background-color: white;
    border: 1px white;
    z-index: 100;
}

.card-body {
    margin: -1.7em 0 0 0;
    border-top: 1px black;
}

.bg-gradient-icon {
    background: linear-gradient(87deg, #36aff5 0, #3f74e7 100%) !important;
}

.col-auto {
    width: auto;
    max-width: 100%;
    flex: 0 0 auto;
    margin: 0px;
    padding: 0;
}

.icon-shape {
    margin-left: 1em;
    display: inline-flex;
    text-align: center;
    border-radius: 50%;
    align-items: center;
    justify-content: center;
}

.icon {
    width: 2rem;
    height: 2rem;
}

.shadow {
    box-shadow: 0 0 2rem 0 rgba(136, 152, 170, .15) !important;
}

#buscar {
    padding-bottom: 2em;
}

.item {
    font-size: small;
    padding-top: 0;
    padding-bottom: 0;
    color: rgba(49, 49, 49, 0.781) !important;
}

.down {
    font-size: .8em !important;
    border-style: dashed !important;
    display: block !important;
    background-color: transparent;
    border-color: #33333357 !important;
    border: .08em;
    padding: .4em;
    color: #33333387;
    font-weight: 450;
    border-radius: .2em;
    text-decoration: none;
}

.down:hover {
    color: dodgerblue;
    border-color: dodgerblue !important;
    text-decoration: none;
    box-shadow: 0 5px 7px rgba(113, 150, 219, 0.1), 0 2px 4px rgba(14, 64, 121, 0.08);
    transform: translateY(-1px);
}

.down:active,
.down:focus,
.down:checked,
.down:visited,
.down::after {
    outline: 0;
}

.down>i {
    font-size: 2em;
}

.pie {
    font-weight: 400;
    font-size: small;
    margin-top: .8em;
    color: rgb(107, 107, 107);
    padding-bottom: 0;
    margin-bottom: 0;
}

.mod {
    padding-bottom: 0em !important;
}

.sfil {
    /* padding-top: 1em !important; */
    padding-left: 1em !important;
    padding-right: 1em !important;
}

td {
    font-size: .98em;
    color: rgb(26, 26, 26);
}

th {
    /* background-color: rgb(11 176 214) !important; */
    background-color: rgb(11 176 214) !important;
    color: white !important;
    font-size: 1em !important;
    border: 1px white;
}

.result {
    padding: 1em;
}

table th {
    /* background-color: rgb(0, 157, 219) !important; */
    /* background-color: rgb(74, 130, 182) !important; */
    background-color: rgb(23, 73, 119) !important;
    color: white;
}

.table-responsive {
    border: .2em solid !important;
    border-color: rgb(233, 233, 233) !important;
    box-shadow: 0 5px 7px rgba(113, 150, 219, 0.1), 0 2px 4px rgba(14, 64, 121, 0.08);
}

.tdbotones {
    text-align: center;
    align-items: center;
}

td {
    font-size: .98em;
    color: rgb(26, 26, 26);
    border: 0.5px solid;
    border-color: rgba(133, 133, 133, 0.11);
}

.tablasFil>tr:hover {
    cursor: pointer;
}

.closeBG {
    background-color: transparent;
    border-color: transparent;
    border-radius: 45%;
    font-size: 1.5em;
}

.closeBG:hover {
    background-color: rgba(0, 0, 0, 0.253);
}

.closeBG:active,
.closeBG:focus,
.closeBG:checked,
.closeBG:visited,
.closeBG::after {
    outline: 0;
}

.tdbotones>.but2:hover {
    background-color: red;
    color: white;
}

.but3 {
    border: 1px solid;
    border-color: #0295af;
    color: #0295af;
}

.tdbotones>.but1:hover {
    background-color: dodgerblue !important;
    color: white;
}

.tdbotones>.but3:hover {
    background-color: rgb(7, 153, 179) !important;
    color: white;
}

.badge {
    font-size: 1em;
    margin-right: .5em;
}


/* DALTONISMO NO TOCAR */

.fijo {
    position: fixed;
    bottom: 1em;
    right: 1em;
    padding-top: 1.6em;
    padding-left: 1em;
    background-color: rgb(192, 192, 192);
    /* background: linear-gradient(87deg, #36aff5 0, #3f74e7 100%) !important; */
    height: 5em;
    width: 5em;
    border-radius: 50%;
    font-size: 1em;
    box-shadow: 0px 8px 10px -5px black;
}


/* DALTONISMO NO TOCAR */

.errorForm {
    color: red;
    font-size: small;
}

.form-check-label {
    color: rgb(104, 104, 104);
    font-size: 1em;
    font-weight: 450;
    cursor: pointer;
}

.fijo:hover {
    transform: translateY(-3px);
}

input[type=checkbox] {
    position: relative;
    cursor: pointer;
    border-color: dodgerblue;
}

input[type=checkbox]:before {
    content: "";
    display: block;
    position: absolute;
    width: 15px;
    height: 15px;
    top: 0;
    left: 0;
    background-color: #fdfdfd;
    border: 1px solid;
    border-color: dodgerblue;
    color: rgb(192, 192, 192);
}

input[type=checkbox]:checked:before {
    content: "";
    display: block;
    position: absolute;
    width: 15px;
    height: 15px;
    top: 0;
    left: 0;
    background-color: #1E80EF;
    font-size: 1em;
}

input[type=checkbox]:checked:after {
    content: "";
    display: block;
    width: 5px;
    height: 10px;
    border: solid white;
    border-width: 0 2px 2px 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
    position: absolute;
    top: 2px;
    left: 6px;
}

.ngbut {
    display: contents;
    align-items: center;
    font-size: 1.1em;
}
