@media (min-width: 511px) {
    .cardprin {
        padding-left: 1.5em;
        padding-right: 1.5em;
        padding-top: 1em;
    }
}

.card-header {
    margin-bottom: 0;
    padding: 1.25rem 1.5rem;
    border-bottom: 1px solid rgba(0, 0, 0, .05);
    background-color: #fff;
    border-radius: 1em;
}

.tabtit {
    font-weight: 600;
    font-size: 1.5em;
    letter-spacing: -1;
    padding-bottom: 1em;
    color: rgba(36, 36, 36, 0.911);
}

.mt--6,
.my--6 {
    margin-top: -5.5rem !important;
}

.card {
    margin-bottom: 30px;
    border-radius: .6em;
    box-shadow: 0 7px 14px rgba(50, 50, 93, 0.192), 0 3px 6px rgba(0, 0, 0, .08);
}

.cardprin {
    box-shadow: 0 7px 14px rgba(47, 47, 49, 0.486);
}

.header {
    position: relative;
    min-height: 200px;
    background: linear-gradient(87deg, #7a3939 0, #583030 100%) !important;
}

.subcard {
    margin-top: 100px;
}

.HeadCont {
    padding-left: 50px;
}

.sort {
    font-weight: 500 !important;
    color: rgb(13, 70, 134);
    font-size: 1em;
    text-align: center;
    align-items: center;
}

.breadcrumb-item {
    font-size: small;
    text-decoration: none;
}

.table {
    width: 100%;
    margin-bottom: 1rem;
    background-color: transparent;
    font-size: 0.9em;
}

.table th {
    padding: 1rem;
    vertical-align: top;
    font-weight: 400;
}

.btn1 {
    font-size: .7rem;
    position: relative;
    transition: all .15s ease;
    text-transform: none;
    will-change: transform;
    color: rgb(185, 185, 185) !important;
    text-decoration: none;
    display: inline-block;
}

.btn1:hover {
    transform: translateY(-1px);
    box-shadow: 0 7px 14px rgba(50, 50, 93, .1), 0 3px 6px rgba(0, 0, 0, .08);
    background-color: rgba(85, 161, 224, 0.925);
    color: white !important;
}

.btn {
    box-shadow: 0 7px 14px rgba(50, 50, 93, .1), 0 3px 6px rgba(0, 0, 0, .08);
    text-transform: none;
    will-change: transform;
    border: none;
    font-size: .8em;
    font-weight: 400;
}

.btn:hover {
    transform: translateY(-1px);
    background-color: #5962b4;
}

.modal {
    border-radius: 0 !important;
    box-shadow: 0 7px 14px rgba(50, 50, 93, 0.192), 0 3px 6px rgba(0, 0, 0, .08);
}

.modal-header {
    /* background-color: #3897bc; */
    background-image: linear-gradient(to right, #035382, #33c4e5);
    color: white;
}

.modal-title {
    color: white;
}

.text-white {
    font-weight: 600;
}

.form-group {
    font-size: 14px;
    font-weight: 500;
}

input,
select,
textarea {
    font-size: small;
}

.btn4 {
    box-shadow: 0 7px 14px rgba(50, 50, 93, .1), 0 3px 6px rgba(0, 0, 0, .08);
    text-transform: none;
    will-change: transform;
    border: none;
    font-size: .8em;
    font-weight: 400;
}

.btn4:hover {
    transform: translateY(-1px);
}

.card-body {
    margin: -2.5em 0 0 0;
}

.tab {
    height: 20em;
}

thead,
thead th {
    position: -webkit-sticky;
    /* for Safari */
    position: sticky !important;
    top: 0;
    background-color: white;
    border: 1px white;
    z-index: 100;
}

.bg-gradient-icon {
    background: linear-gradient(87deg, #36aff5 0, #3f74e7 100%) !important;
}

.col-auto {
    width: auto;
    max-width: 100%;
    flex: 0 0 auto;
    margin: 0px;
    padding: 0;
}

.icon-shape {
    margin-left: 1em;
    display: inline-flex;
    text-align: center;
    border-radius: 50%;
    align-items: center;
    justify-content: center;
}

.icon {
    width: 2rem;
    height: 2rem;
}

.shadow {
    box-shadow: 0 0 2rem 0 rgba(136, 152, 170, .15) !important;
}

@media (min-width:575px) and (max-width: 905px) {
    .btnsup {
        display: none;
    }
}

@media (max-width:574px) {
    #obs {
        margin-top: .2em;
        float: left !important;
    }
}

.colapse {
    font-weight: 300;
    font-family: Times, serif;
    color: rgb(36, 36, 36)!important;
    font-size: 1.1em;
    cursor: pointer;
    background: rgb(255, 255, 255);
    border-color: rgba(7, 67, 117, 0.466);
    box-shadow: 0 7px 14px rgba(64, 64, 80, 0.1), 0 3px 6px rgba(0, 0, 0, .08);
    font-style: italic;
}

.acc {
    font-size: 1em;
    font-style: normal;
}

td {
    font-size: .98em;
    color: rgb(26, 26, 26);
}

th {
    color: rgb(13, 70, 134) !important;
    font-size: .9em !important;
    border: 1px white;
}

.btnb {
    background-color: rgb(251, 251, 251);
    font-size: .98em;
    padding: .3em;
    border: 1px solid;
    border-color: #ececec;
    margin: .2em;
    border-radius: .2rem;
}

.btnb:hover {
    background-color: white !important;
    font-weight: 400;
    box-shadow: 2px 7px 7px 2px rgba(172, 208, 250, 0.26);
}

@media (max-width: 590px) {
    .btnsup {
        display: none;
    }
}

.btnb:active,
.btnb:focus,
.btnb:checked,
.btnb:visited,
.btnb::after {
    outline: 0;
}

.bos {
    color: #2a8ac2;
    font-size: 1.2em;
}

.fechCol {
    font-size: .8em;
    color: #a8a8a8;
    font-style: normal;
    font-weight: 400;
}

.icCol {
    color: #1fcc36 !important;
    font-size: smaller;
    padding-right: .2em;
}

.modal-header button:active,
.modal-header button:focus,
.modal-header button:checked,
.modal-header button:visited,
.modal-header button::after {
    outline: 0;
}

.modte {
    background-color: #035382 !important;
}

.modb {
    font-weight: 600;
}

.dbic {
    display: contents;
    color: rgb(39, 119, 223);
    font-weight: 400;
}

.ngbut {
    display: contents;
    align-items: center;
    font-size: 1.1em;
}

.dbsp {
    margin-left: .5em;
    font-size: small !important;
}

.nz-dropdown-menuClass ul li span {
    font-size: small !important;
}

.parmod {
    font-weight: 400;
    font-size: small;
}

.cab {
    border: .5px solid !important;
    border-color: rgb(219, 219, 219) !important;
}

.card-stats {
    padding-top: 2em;
    margin-top: 1em;
    padding-right: 1em;
    border-radius: 0;
}

.bg-gradient-red {
    background: linear-gradient(87deg, #f5365c 0, #f56036 100%) !important;
}

.tefot {
    font-size: small;
    color: rgb(124, 124, 124);
}

.text-muted {
    color: #176cb6!important;
    font-weight: 500;
}

.icondet {
    color: #6ca6e9 !important;
    margin-right: .3em;
}

.conlink {
    color: blue !important;
    text-decoration: underline !important;
    font-size: smaller;
}

.ant-table-thead>tr>th,
.ant-table-tbody>tr>td,
.ant-table tfoot>tr>th,
.ant-table tfoot>tr>td {
    position: relative;
    padding: 10px 8px !important;
    overflow-wrap: break-word;
}

td {
    font-size: .98em;
    color: rgb(26, 26, 26);
    border: 0.5px solid;
    border-color: rgba(133, 133, 133, 0.11);
}

.tdbotones {
    text-align: center;
    align-items: center;
}

.errorForm {
    color: red;
    font-size: small;
}

.modalghead {
    box-shadow: 0 5px 5px rgba(128, 128, 128, 0.486);
}

.modalgfot {
    background-color: rgb(235, 235, 235);
}

.modalgbody {
    height: 35em;
    overflow-y: scroll;
    overflow-x: hidden;
}

.modalbig {
    -webkit-box-shadow: -5px 3px 15px rgba(0, 0, 0, .5);
    box-shadow: -5px 3px 15px rgba(0, 0, 0, .5);
}

.seccion {
    border: .02em solid;
    padding: 1.1em;
    padding-top: 2em;
    border-color: #b3bfc9;
    border-radius: .2em;
    margin-bottom: 1em;
}

@media (max-width: 405px) {
    .IconTit {
        display: none;
    }
    .secTit {
        width: 9em !important;
        margin-left: -.3em !important;
        text-align: center;
    }
    .quitar {
        display: none;
    }
    .punto {
        display: inline;
    }
    .seccion {
        margin-left: -1.5em;
        margin-right: -1.5em;
    }
}

.bg-gradient-icon1 {
    background: linear-gradient(87deg, #36aff5 0, #3f74e7 100%) !important;
}

.icon-shape1 {
    margin-left: 1em;
    display: inline-flex;
    text-align: center;
    border-radius: 50%;
    align-items: center;
    justify-content: center;
}

.icon1 {
    width: 1.6rem;
    height: 1.6rem;
}

.titmod {
    font-weight: 700;
    font-size: 1.1em;
}

.punto {
    display: none;
}

.TopMig {
    padding-left: 3%;
}

@media (max-width: 992px) {
    .TopMig {
        padding-left: 0%;
    }
}

.but3 {
    border: 1px solid;
    border-color: #0295af;
    color: #0295af;
}

.tdbotones>.but2:hover {
    background-color: red;
    color: white;
}

.butObs {
    border: 1.6px solid;
    border-color: #3ba0ff;
    color: #3ba0ff;
    font-size: 1.3em;
    width: 1.9em;
    height: 1.9em;
}

.butObs>em {
    font-size: 1.1em;
    display: inline-flex;
    margin-top: -2em;
}

.but1:hover {
    background-color: dodgerblue !important;
    color: white;
}

.tdbotones>.but3:hover {
    background-color: rgb(7, 153, 179) !important;
    color: white;
}

@media (max-width: 590px) {
    .btnsup {
        display: none;
    }
}

.botonOpt {
    background-color: transparent;
    border-color: none;
    border: none;
}

.botonOpt:hover {
    color: white !important;
    background-color: dodgerblue;
}

.closeBG {
    background-color: transparent;
    width: 1.2em;
    height: 1.2em;
    border-color: transparent;
    border-radius: 45%;
    font-size: 2em;
}

.closeBG:hover {
    background-color: rgba(0, 0, 0, 0.253);
}

.closeBG:active,
.closeBG:focus,
.closeBG:checked,
.closeBG:visited,
.closeBG::after {
    outline: 0;
}

@media (max-width: 664px) {
    .modal-title {
        font-size: 1.5em;
    }
}

.spmod {
    font-weight: 500;
}

.spmod-red {
    color: red;
}

.spmod-blue {
    color: rgb(25, 119, 212);
}

.spnBlack {
    color: black;
    font-weight: 500;
}

.imgmod {
    float: right;
    width: 250;
    height: 250;
}

@media (max-width: 1200px) {
    .imgmod {
        display: none;
    }
}

.iconIMG {
    text-align: right;
    align-items: baseline;
    font-size: 13em;
    color: rgb(226, 226, 226);
    padding-right: 5%;
}

@media (max-width: 1200px) {
    .iconIMG {
        display: none;
    }
}

.consbot {
    width: 1em;
    height: 1em;
}

.regCon {
    font-size: small;
}

.bodObs {
    padding: 1.5em;
    padding-top: 2em;
    border-radius: 0em;
}

@media (max-width: 475px) {
    .bodObs {
        padding: .2em;
        padding-top: 2em;
    }
}

.botonObs {
    text-align: right;
}

.rebo {
    color: #3d7397;
}

.iconMod {
    color: #ffffff !important;
    margin-right: .3em;
}

.checkobs {
    color: #007fe7 !important;
    border-color: dodgerblue;
}

.down {
    font-size: 1em !important;
    display: block !important;
    background-color: transparent;
    color: dodgerblue;
    border-color: dodgerblue !important;
    border: .08em solid;
    padding: .4em;
    font-weight: 400;
    border-radius: .2em;
    text-decoration: none;
}

.down:hover {
    color: rgb(255, 255, 255);
    border-color: dodgerblue !important;
    background-color: rgb(14, 147, 255);
    text-decoration: none;
    box-shadow: 0 5px 7px rgba(113, 150, 219, 0.1), 0 2px 4px rgba(14, 64, 121, 0.08);
    transform: translateY(-1px);
}

.down:active,
.down:focus,
.down:checked,
.down:visited,
.down::after {
    outline: 0;
}

.down>em {
    font-size: 2em;
}


/* CHECKS */

input[type=checkbox] {
    position: relative;
    cursor: pointer;
    border-color: dodgerblue;
}

input[type=checkbox]:before {
    content: "";
    display: block;
    position: absolute;
    width: 15px;
    height: 15px;
    top: 0;
    left: 0;
    background-color: #fdfdfd;
    border: 1px solid;
    border-color: dodgerblue;
    color: rgb(192, 192, 192);
}

input[type=checkbox]:checked:before {
    content: "";
    display: block;
    position: absolute;
    width: 15px;
    height: 15px;
    top: 0;
    left: 0;
    background-color: #1E80EF;
    font-size: 1em;
}

input[type=checkbox]:disabled:before {
    content: "";
    display: block;
    position: absolute;
    width: 15px;
    height: 15px;
    top: 0;
    left: 0;
    background-color: #d8d8d8;
    border-color: transparent;
    cursor: default;
}

input[type=checkbox]:disabled:after {
    cursor: default;
}

input[type=checkbox]:checked:after {
    content: "";
    display: block;
    width: 5px;
    height: 10px;
    border: solid white;
    border-width: 0 2px 2px 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
    position: absolute;
    top: 2px;
    left: 6px;
}

.ng-autocomplete {
    width: 100%;
    padding: 0;
    padding-right: 1em;
    padding-left: 1em;
}

.AutFont {
    font-weight: 500;
}

.autocomplete-container .input-container input {
    box-shadow: none;
    font-size: .5em !important;
}

@media (max-width: 991.5px) {
    .ng-autocomplete {
        padding-right: 1em;
    }
}

.Aserr {
    margin-top: -1.5em;
}