<!--Header de Contenido -->
<div class="header bg-primary pb-6">
    <div class="container-fluid">
        <div class="header-body">
            <div class="row align-items-center py-4">
                <div class="col-12 TopMig">
                    <nav aria-label="breadcrumb" class="d-none d-md-inline-block ml-md-4">
                        <ol class="breadcrumb breadcrumb-links breadcrumb-dark">
                            <li class="breadcrumb-item"><a routerLink="/adroles"><em class="fas fa-home"></em></a></li>
                            <li class="breadcrumb-item"><a routerLink="/adroles">Roles</a></li>
                            <li class="breadcrumb-item active" aria-current="page">Detalles</li>
                        </ol>
                    </nav>
                </div>


            </div>
        </div>
    </div>
</div>
<!--/.Header de Contenido -->
<!-- Contenido -->
<div class="container-fluid mt--6">
    <div class="row justify-content-center">
        <div class="col-lg-10 col-md-12">
            <!-- Card -->
            <div class="card">
                <!-- Card header -->
                <div class="card-header pb-0 border-0">
                    <div class="row">
                        <div class="col-auto">
                            <div class="icon icon-shape bg-gradient-icon text-white rounded-circle shadow">
                                <em class="fa fa-chalkboard-teacher"></em>
                            </div>
                        </div>
                        <div class="col-11 col-xl-5">
                            <h2 class="mb-0 tabtit">Mantenimiento de roles</h2>
                        </div>
                        <div class="col-12 col-xl-4">
                            <input class="form-control" value={{nombre}} disabled>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col">
                            <div class="form-group">
                                <input type="text" class="form-control" name="filterPost" placeholder="Aqui va el rolsito" hidden>
                            </div>

                        </div>
                    </div>
                </div>
                <!-- /.Card header -->
                <!-- Card body -->
                <div class="card-body">
                    <!-- Tabla procesos -->
                    <div class="col-lg-12 col-md-4">
                        <h4 class="mb-0" style="font-weight: 600;">Procesos</h4>
                    </div>
                    <div class="table-responsive">
                        <nz-table #virtualTable [nzData]="procesos" [nzScroll]="{ y: '12em' }">
                            <thead>
                                <tr>
                                    <th scope="col" class="sort" data-sort="name">
                                        idProceso</th>
                                    <th scope="col" class="sort" data-sort="name">
                                        Proceso</th>
                                    <th scope="col" class="sort" data-sort="name">
                                        Detalle</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr *ngFor="let user of virtualTable.data">
                                    <td scope="row">
                                        {{user.IdProceso}}
                                    </td>
                                    <td scope="row">
                                        {{user.NombreProceso}}
                                    </td>
                                    <td class="project-actions" class="text-center align-items-center">
                                        <a class="btn1 btn-neutral btn-sm " (click)="enviar(user.IdProceso)">
                                            <em class="fas fa-folder"></em>
                                            <span class="btnTxt"> Detalles</span>
                                        </a>
                                    </td>
                                </tr>

                            </tbody>
                        </nz-table>
                    </div>
                    <!-- Fin Tabla procesos -->

                    <!-- Tabla actividades -->
                    <div *ngIf="actividades">
                        <div class="col-lg-12 col-md-4">
                            <h4 class="mb-0" style="font-weight: 600;">Actividades</h4>
                        </div>
                        <div class="table-responsive">
                            <nz-table #procesoAct [nzData]="procesoActividad" [nzScroll]="{ y: '12em' }">
                                <thead>
                                    <tr>
                                        <th scope="col" class="sort" data-sort="name">
                                            Actividad</th>

                                        <th scope="col" class="sort" data-sort="name">
                                            Permiso</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr *ngFor="let imp of procesoAct.data">
                                        <td scope="row">
                                            {{imp.Nombre}}
                                        </td>
                                        <td scope="row" class="text-center align-items-center">
                                            <input type="checkbox" [(ngModel)]="imp.Permiso">
                                        </td>
                                    </tr>


                                </tbody>
                            </nz-table>
                        </div>
                        <!-- Fin Tabla actividades -->
                    </div>
                </div>
                <!-- /.Card body -->
            </div>
            <!-- ./Card -->
        </div>
    </div>
</div>
<!-- /.Contenido -->