.sidebar-logo {
    position: relative;
    overflow: hidden;
    line-height: 64px;
    transition: all .3s;
    vertical-align: middle;
    justify-items: center;
    padding-left: 1em;
}

.sidebar-logo img {
    display: inline-block;
    height: 8em;
    width: 7em;
    margin-right: .5em;
    /* vertical-align: middle; */
}

.sidebar-logo1 {
    position: relative;
    overflow: hidden;
    line-height: 64px;
    transition: all .3s;
    vertical-align: middle;
    justify-items: center;
    padding-left: 1em;
}

.sidebar-logo1 img {
    display: inline-block;
    height: 3em;
    width: 2.7em;
    margin-right: .5em;
}

.card-header {
    margin-bottom: 0;
    padding: 1.25rem 1.5rem;
    border-bottom: 1px solid rgba(0, 0, 0, .05);
    background-color: rgb(9, 51, 99);
}

.tabtit {
    font-weight: 600;
    font-size: 1.5em;
    letter-spacing: -1;
    padding-bottom: 1em;
    color: rgba(255, 255, 255);
    display: inline-block;
}

.mt--6,
.my--6 {
    margin-top: -5.5rem !important;
}

.card {
    padding: 0;
    margin: 0;
    border: none;
    margin-bottom: 30px;
    /* border-radius: .6em; */
    box-shadow: 0 7px 14px rgba(47, 47, 49, 0.486);
}

.header {
    position: relative;
    min-height: 200px;
    background: linear-gradient(87deg, #7a3939 0, #583030 100%) !important;
}

.subcard {
    margin-top: 100px;
}

.HeadCont {
    padding-left: 50px;
}

.sort {
    font-weight: 500 !important;
    color: rgb(13, 70, 134);
    font-size: 1em;
    text-align: center;
    align-items: center;
}

.breadcrumb-item {
    font-size: small;
    text-decoration: none;
}

.btn1 {
    font-size: .7rem;
    position: relative;
    transition: all .15s ease;
    text-transform: none;
    will-change: transform;
    color: rgb(185, 185, 185) !important;
    text-decoration: none;
    display: inline-block;
}

.btn1:hover {
    transform: translateY(-1px);
    box-shadow: 0 7px 14px rgba(50, 50, 93, .1), 0 3px 6px rgba(0, 0, 0, .08);
    background-color: rgba(85, 161, 224, 0.925);
    color: white !important;
}

.btn {
    box-shadow: 0 7px 14px rgba(50, 50, 93, .1), 0 3px 6px rgba(0, 0, 0, .08);
    text-transform: none;
    will-change: transform;
    border: none;
    font-size: .9em;
    font-weight: 400;
    /* background-color: #03a72c; */
}

.btn:hover {
    transform: translateY(-1px);
    background-color: #5962b4;
}

.modal {
    border-radius: 0;
    box-shadow: 0 7px 14px rgba(50, 50, 93, 0.192), 0 3px 6px rgba(0, 0, 0, .08);
}

.modal-header {
    margin-bottom: 0;
    padding: 1.25rem 1.5rem;
    border-bottom: 1px solid rgba(0, 0, 0, .05);
    background-color: rgb(9, 51, 99);
}

.modal-title {
    color: white;
}

.text-white {
    font-weight: 500;
}

.form-group {
    font-size: 14px;
    font-weight: 500;
}

input,
select,
textarea {
    font-size: small;
}

.btn2 {
    box-shadow: 0 7px 14px rgba(50, 50, 93, .1), 0 3px 6px rgba(0, 0, 0, .08);
    text-transform: none;
    will-change: transform;
    border: none;
    font-size: .8em;
    font-weight: 400;
}

.btn2:hover {
    transform: translateY(-1px);
    background-color: #5962b4;
}

@media (max-width: 590px) {
    .btnsup {
        display: none;
    }
}

.btn4 {
    box-shadow: 0 7px 14px rgba(50, 50, 93, .1), 0 3px 6px rgba(0, 0, 0, .08);
    text-transform: none;
    will-change: transform;
    border: none;
    font-size: .8em;
    font-weight: 400;
}

.btn4:hover {
    transform: translateY(-1px);
}

.seccion {
    border: .02em solid;
    padding: 1.1em;
    border-color: #c0c0c0;
    border-radius: .2em;
    margin-bottom: 1em;
}

.close {
    outline: 0;
    color: white;
}

.modal-header,
.modal-body {
    border: 0;
    margin: 0;
}

.ant-table-thead>tr>th {
    background: none !important;
    background-color: white !important;
}

.punto {
    display: none;
}

@media (max-width: 405px) {
    .IconTit {
        display: none;
    }
    .secTit {
        width: 9em !important;
        margin-left: -.3em !important;
        text-align: center;
    }
    .quitar {
        display: none;
    }
    .punto {
        display: inline;
    }
    .seccion {
        margin-left: -1.5em;
        margin-right: -1.5em;
    }
}

.table-bordered {
    border: .1em !important;
}

.textpdf {
    font-size: 1.1em;
    padding: 0;
    margin: 0;
    font-weight: 400;
    padding-bottom: .2em;
}

.textpdf b {
    font-weight: 500;
}

.table-bor th,
.table-bor td {
    border: 0.1px solid;
    border-color: rgba(0, 0, 0, 0.404) !important;
}

.table-bor td {
    padding-left: .5em;
}

.bold {
    font-weight: 400;
}

.logo-pdf {
    position: relative;
    /*  height: 100px; */
    overflow: hidden;
    line-height: 64px;
    transition: all .3s;
    vertical-align: middle;
    justify-items: center;
    margin-bottom: 1.5em;
}

.logo-pdf .der {
    display: inline-block;
    height: 3em;
    width: 8em;
    margin-right: .5em;
    /* vertical-align: middle; */
}

.panel {
    padding-bottom: 5em;
}

.logo-pdf .izq {
    display: inline-block;
    height: 3em;
    width: 2em;
    margin-right: .5em;
}

@media print {
    .Prueba {
        background-color: #1a4567 !important;
        -webkit-print-color-adjust: exact;
    }
}

@media print {
    .Prueba th {
        color: white !important;
    }
}

@media print {
    body {
        -webkit-print-color-adjust: exact;
    }
}

.pdftb {
    padding-left: .5em;
    background-color: rgb(230, 230, 230);
    font-weight: 500;
}

.titulopdf {
    font-weight: 800;
    font-size: 1.2em;
}

#imgImf {
    border-left: .1em solid;
    border-right: .1em solid;
    border-right-color: rgba(192, 192, 192, 0.11);
    border-left-color: rgba(192, 192, 192, 0.11);
}

.steps-action {
    margin-top: 24px;
}

#steps {
    padding: 2em;
}

.usplant {
    background: #2196f5;
    color: #fff;
    font-size: 12px;
    text-align: center;
    padding: 8px 10px;
    text-decoration: none;
    display: block;
    margin: 0;
    position: absolute;
    top: 0px;
    right: 0px;
    z-index: 9;
}

.usplant:hover {
    transform: translateY(-1px);
    box-shadow: 0 7px 14px rgba(50, 50, 93, .1), 0 3px 6px rgba(0, 0, 0, .08);
    background-color: rgb(255, 238, 0);
    color: rgb(0, 0, 0) !important;
}

.sRed_Thanks {
    color: #E84C3D;
    border-bottom-color: #3C3F46;
    border-bottom-style: solid;
    border-bottom-width: 1px;
    text-align: center;
    justify-content: center;
    display: flex;
    align-items: flex-end;
    position: absolute;
    overflow: hidden;
    line-height: 1.15em;
}

.sa73b6cd5 {
    background-color: #ECF0F1;
    text-align: left;
    justify-content: flex-start;
    display: flex;
    align-items: flex-start;
    position: absolute;
    overflow: hidden;
    line-height: 1.15em;
}

.sRed_Company_Info {
    color: #3C3F46;
    text-align: left;
    justify-content: flex-start;
    display: flex;
    align-items: center;
    position: absolute;
    overflow: hidden;
    line-height: 1.15em;
    margin-bottom: .4em;
}

.s1f7facd0 {
    background-color: #8A174B;
    text-align: left;
    justify-content: flex-start;
    display: flex;
    align-items: flex-start;
    position: absolute;
    overflow: hidden;
    line-height: 1.15em;
}

.sd5c65119 {
    color: White;
    text-align: left;
    justify-content: flex-start;
    display: flex;
    align-items: center;
    position: absolute;
    overflow: hidden;
    line-height: 1.15em;
    font-weight: 900;
    font-size: 1.7em;
}

.s0efb5451 {
    color: White;
    text-align: left;
    justify-content: flex-start;
    display: flex;
    align-items: center;
    position: absolute;
    overflow: hidden;
    line-height: 1.15em;
}

.sRed_Contacts_Name {
    color: #3C3F46;
    text-align: right;
    justify-content: flex-end;
    display: flex;
    align-items: center;
    position: absolute;
    overflow: hidden;
    line-height: 1.15em;
    font-weight: 700;
    margin-bottom: .4em;
}

.sBlack_subtotals {
    background-color: Gray;
    color: White;
    border-left-color: White;
    border-left-style: solid;
    border-left-width: 1px;
    text-align: center;
    justify-content: center;
    display: flex;
    align-items: center;
    position: absolute;
    overflow: hidden;
    line-height: 1.15em;
}

.sRed_Data {
    color: #787878;
    text-align: right;
    justify-content: flex-end;
    display: flex;
    align-items: center;
    position: absolute;
    overflow: hidden;
    line-height: 1.15em;
}

.sRed_Data1 {
    color: #787878;
    text-align: left;
    justify-content: flex-start;
    display: flex;
    align-items: center;
    position: absolute;
    overflow: hidden;
    line-height: 1.15em;
}

.s19273392 {
    text-align: left;
    justify-content: flex-start;
    display: flex;
    align-items: flex-start;
    position: absolute;
    overflow: hidden;
    line-height: 1.15em;
}

.form>div>p {
    font-weight: 400;
    font-size: .9em;
    margin-bottom: 0;
    margin-top: 0;
    padding-top: 0;
    padding-bottom: .2em;
}

.icondet {
    color: rgb(81, 157, 219);
    margin-right: .5em;
}

.table-form2 {
    font-weight: 400;
    font-size: 1em;
}

.table-form2>tbody>tr>td>b {
    font-weight: 500 !important;
}

.divRep {
    font-size: 1.4em !important;
    font-weight: 700;
}

.esptd {
    text-align: center;
}

@media (max-width: 559px) {
    .tagD {
        display: none;
    }
}

.iconNav {
    font-size: 1.2em;
}

.btnaz {
    background-color: rgb(46, 92, 151);
    color: white;
}

.ant-steps-item-description {
    max-width: 200px !important;
}

.opciones {
    align-items: center;
    justify-content: center;
    margin-left: 5%;
}

.bg-gradient-icon {
    background: rgb(66, 161, 206) !important;
}

.col-auto {
    width: auto;
    max-width: 100%;
    flex: 0 0 auto;
    margin: 0px;
    padding: 0;
}

.icon-shape {
    margin-left: 1.5em;
    display: inline-flex;
    text-align: center;
    border-radius: 50%;
    align-items: center;
    justify-content: center;
}

.icon {
    width: 1.7rem;
    height: 1.7rem;
}

.icon>i {
    font-size: .2em;
}

.nomEst {
    color: rgb(0, 0, 0);
    margin-bottom: 0;
}

.lint {
    line-height: normal;
    color: rgb(7, 117, 207);
    border-color: rgb(112, 180, 236);
    margin-bottom: 1em !important;
}

.TopMig {
    padding-left: 8%;
}

@media (max-width: 992px) {
    .TopMig {
        padding-left: 0%;
    }
}