<!--Header de Contenido -->
<div class="header bg-primary pb-6">
    <div class="container-fluid">
        <div class="header-body">
            <div class="row align-items-center py-4">
                <div class="col-lg-6 col-7 TopMig">
                    <nav aria-label="breadcrumb" class="d-none d-md-inline-block ml-md-4">
                        <ol class="breadcrumb breadcrumb-links breadcrumb-dark">
                            <li class="breadcrumb-item"><a routerLink="/adlistafacultad"><em class="fas fa-home"></em></a></li>
                            <li class="breadcrumb-item active" aria-current="page">{{'MFACU'| translate}}</li>
                        </ol>
                    </nav>
                </div>

                <div class="col-lg-6 col-5 text-right">
                    <a class="btn btn-primary principal registro" data-toggle="modal" data-target="#modal-default" (click)="reestablecer()">
                        <em class="fa fa-plus" style="font-size: 15px;"></em>
                        <span class="btnsup"> {{'MADDFAC'| translate}}</span>
                    </a>
                </div>

            </div>
        </div>
    </div>
</div>
<!--/.Header de Contenido -->
<!-- Contenido -->
<div class="container-fluid mt--6">
    <div class="row justify-content-center">
        <div class="col-lg-10 col-md-12">
            <!-- Card -->
            <div class="card">
                <!-- Card header -->
                <div class="card-header border-0">
                    <div class="row">
                        <div class="col-lg-8 col-12">
                            <div class="row">
                                <div class="col-auto col">
                                    <div class="icon icon-shape bg-gradient-icon text-white rounded-circle shadow">
                                        <em class="fas fa-university"></em>
                                    </div>
                                </div>
                                <div class="col">
                                    <h2 class="mb-0 tabtit">{{'MGESFAC'| translate}}</h2>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-4 col-12">
                            <a class="btn2 btn btn-success" style="color: white;float: right;" data-toggle="modal" data-target="#datos">
                                <em class="fa fa-file-upload"></em>
                                <span class="btnsup"> {{'MCARAR'| translate}}</span>
                            </a>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col">
                            <div class="form-group">
                                <input type="text" class="form-control" name="filterPost" placeholder="Aqui va el rolsito" hidden>
                            </div>

                        </div>
                    </div>
                </div>
                <!-- /.Card header -->
                <!-- Card body -->
                <div class="card-body">

                    <hr>
                    <div class="pt-2">
                        <nz-table #virtualTable [nzData]="facultades" [nzScroll]="{ y: '18em' }">
                            <thead>
                                <tr>
                                    <th scope="col" class="sort" data-sort="name" nzWidth="100px">{{'MIDFAC'| translate}}</th>
                                    <th scope="col" class="sort" data-sort="name" nzWidth="200px">{{'MNOMFA'| translate}}</th>
                                    <th scope="col" class="sort" data-sort="name" nzWidth="100px">{{'MOPCIO'| translate}}</th>
                                </tr>
                            </thead>
                            <tbody class="list">
                                <tr *ngFor="let esc of virtualTable.data">
                                    <td scope="row">{{esc.IdFacultad}}</td>
                                    <td scope="row">{{esc.Facultad}}</td>
                                    <td class="tdbotones">

                                        <button class="mr-1 but2" nz-button nzType="default" nzDanger nzShape="circle" nzTooltipTitle="{{'MELREG'| translate}}" nz-tooltip (click)="eliminar(esc.IdFacultad)"><em class="ngbut" nz-icon nzType="delete" ></em></button>
                                        <button class="mr-1 but3" nz-button nzType="default" nzInfo nzShape="circle" nzTooltipTitle="{{'MEDREG'| translate}}" nz-tooltip data-toggle="modal" data-target="#edtFacultad" (click)="verFacul(esc.IdFacultad)" (click)="reestablecer()"><em class="far fa-edit"></em></button>
                                    </td>

                                </tr>
                            </tbody>
                        </nz-table>
                    </div>
                </div>
                <!-- /.Card body -->
            </div>
            <!-- ./Card -->
        </div>
    </div>
</div>
<!-- /.Contenido -->

<div class="modal fade" id="modal-default">
    <div class="modal-dialog">
        <div class="modal-content">

            <nz-result *ngIf="scregfac" nzStatus="success" nzTitle={{mensaje}} nzSubTitle="{{'MCARTAB'| translate}}">
                <div nz-result-extra>
                    <button nz-button nzType="primary" data-dismiss="modal">{{'MACEPT'| translate}}</button>
                </div>
            </nz-result>

            <div class="modal-header justify-content-center" *ngIf="scregoc">
                <h2 class="modal-title">
                    {{'MREGFAC'| translate}}
                </h2>
            </div>
            <div class="modal-body" *ngIf="scregoc">
                <form [formGroup]="form" novalidate (ngSubmit)="save($event)">
                    <div class="form-group">
                        <label for="recipient-name" class="col-form-label">{{'MFACU'| translate}}:</label>
                        <input [(ngModel)]="facultad.Facultad" type="text" class="form-control" formControlName="facName" id="recipient-name" placeholder="{{'MNOMFAC'| translate}}">
                        <div *ngIf="CampoFac.errors && CampoFac.touched" class="errorForm">
                            <p *ngIf="CampoFac.hasError('required')">
                                *{{'MCAMOP'| translate}}
                            </p>
                            <p *ngIf="CampoFac.hasError('pattern')">
                                *{{'MINLET'| translate}}
                            </p>
                            <p *ngIf="CampoFac.hasError('minlength')">
                                *{{'MIN10CR'| translate}}
                            </p>
                            <p *ngIf="CampoFac.hasError('maxlength')">
                                *{{'MAX90CR'| translate}}
                            </p>

                        </div>
                    </div>
                    <div class="modal-footer justify-content-between" *ngIf="scregoc">
                        <button type="button" class="btn btn-danger" data-dismiss="modal">{{'MCANCEL'| translate}}</button>
                        <button type="submit" class="btn btn-success">{{'MREGIS'| translate}}</button>
                    </div>
                </form>
            </div>

        </div>
        <!-- /.modal-content -->
    </div>
    <!-- /.modal-dialog -->
</div>
<!-- /.modal -->

<div class="modal fade" id="edtFacultad">
    <div class="modal-dialog">
        <div class="modal-content">

            <nz-result *ngIf="scregfac" nzStatus="success" nzTitle={{mensaje}} nzSubTitle="{{'MCARTAB'| translate}}">
                <div nz-result-extra>
                    <button nz-button nzType="primary" data-dismiss="modal">{{'MACEPT'| translate}}</button>
                </div>
            </nz-result>

            <div class="modal-header justify-content-center" *ngIf="scregoc">
                <h2 class="modal-title">
                    {{'MODFAC'| translate}}
                </h2>
            </div>
            <div class="modal-body" *ngIf="scregoc">
                <form [formGroup]="form" novalidate (ngSubmit)="modal2($event, facultad.IdFacultad)">
                    <div class="form-group">
                        <label for="recipient-name" class="col-form-label">{{'MFACU'| translate}}:</label>
                        <input [(ngModel)]="facultad.Facultad" type="text" class="form-control" formControlName="facName" id="recipient-name" placeholder="Ingrese el nombre de la facultad">
                        <div *ngIf="CampoFac.errors && CampoFac.touched" class="errorForm">
                            <p *ngIf="CampoFac.hasError('required')">
                                *{{'MCAMOP'| translate}}
                            </p>
                            <p *ngIf="CampoFac.hasError('pattern')">
                                *{{'MINLET'| translate}}
                            </p>
                            <p *ngIf="CampoFac.hasError('minlength')">
                                *{{'MIN10CR'| translate}}
                            </p>
                            <p *ngIf="CampoFac.hasError('maxlength')">
                                *{{'MAX90CR'| translate}}
                            </p>

                        </div>
                    </div>
                    <div class="modal-footer justify-content-between" *ngIf="scregoc">
                        <button type="button" class="btn btn-danger" data-dismiss="modal">{{'MCANCEL'| translate}}</button>
                        <button type="submit" class="btn btn-success">{{'MMODIF'| translate}}</button>
                    </div>
                </form>
            </div>

        </div>
        <!-- /.modal-content -->
    </div>
    <!-- /.modal-dialog -->
</div>
<!-- /.modal -->

<div class="modal fade" id="datos">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header justify-content-center">
                <h2 class="modal-title">
                    {{'MCARFAC'| translate}}
                </h2>

            </div>
            <div class="modal-body">
                <form>
                    <div class="form-group">
                        <div class="row">
                            <div class="col-8">
                                <label for="recipient-name" class="col-form-label">{{'MCARAR'| translate}}:</label>
                                <input type="file" id="file" class="form-control-file" (change)="handleFileInput($event.target.files)">
                                <span [innerHTML]="result"></span>
                                <div *ngIf="FileValShow" class="errorForm">
                                    <p>
                                        *{{'MSUBXLS'| translate}}
                                    </p>
                                </div>
                            </div>
                            <div class="col-4">
                                <div class="form-group" style="float:right; padding-right: 2em;">
                                    <button class="down" nzType="dashed" (click)="getPlantillaFacultad()">
                          <em nz-icon nzType="download" ></em><br>
                          {{'MDESCAR'| translate}} <br>{{'MFORMAT'| translate}}
                        </button>
                                </div>
                            </div>
                        </div>

                    </div>
                </form>
            </div>
            <div class="modal-footer justify-content-between">
                <button type="button" class="btn4 btn btn-danger" data-dismiss="modal">{{'MCANCEL'| translate}}</button>
                <button type="button" class="btn btn-lg btn-success" (click)="cargar()">{{'MCARGAR'| translate}}</button>
            </div>
        </div>
        <!-- /.modal-content -->
    </div>
    <!-- /.modal-dialog -->
</div>
<!-- /.modal -->