.card-header {
    margin-bottom: 0;
    padding: 1.25rem 1.5rem;
    border-bottom: 1px solid rgba(0, 0, 0, .05);
    background-color: #fff;
    border-radius: 1em;
}

.tabtit {
    font-weight: 600;
    font-size: 1.5em;
    letter-spacing: -1;
    padding-bottom: 1em;
    color: rgba(36, 36, 36, 0.911);
}

@media (max-width: 478px) {
    .tabtit {
        font-size: 1.2em;
    }
}

.mt--6,
.my--6 {
    margin-top: -5.5rem !important;
}

.card {
    margin-bottom: 30px;
    border-radius: .6em;
    box-shadow: 0 7px 14px rgba(47, 47, 49, 0.486);
}

.header {
    position: relative;
    min-height: 200px;
    background: linear-gradient(87deg, #7a3939 0, #583030 100%) !important;
}

.subcard {
    margin-top: 100px;
}

.HeadCont {
    padding-left: 50px;
}

.sort {
    font-weight: 500 !important;
    color: rgb(13, 70, 134);
    font-size: 1em;
    text-align: center;
    align-items: center;
}

.breadcrumb-item {
    font-size: small;
    text-decoration: none;
}

.table {
    width: 100%;
    margin-bottom: 1rem;
    background-color: transparent;
    font-size: 0.9em;
}

.table th {
    padding: 1rem;
    vertical-align: top;
    font-weight: 400;
}

.btn1 {
    font-size: .7rem;
    position: relative;
    transition: all .15s ease;
    text-transform: none;
    will-change: transform;
    color: rgb(185, 185, 185) !important;
    text-decoration: none;
    display: inline-block;
}

.btn1:hover {
    transform: translateY(-1px);
    box-shadow: 0 7px 14px rgba(50, 50, 93, .1), 0 3px 6px rgba(0, 0, 0, .08);
    background-color: rgba(85, 161, 224, 0.925);
    color: white !important;
}

.btn {
    box-shadow: 0 7px 14px rgba(50, 50, 93, .1), 0 3px 6px rgba(0, 0, 0, .08);
    text-transform: none;
    will-change: transform;
    border: none;
    font-size: .8em;
    font-weight: 400;
}

.btn:hover {
    transform: translateY(-1px);
    background-color: #5962b4;
}

.modal {
    border-radius: 0;
    box-shadow: 0 7px 14px rgba(50, 50, 93, 0.192), 0 3px 6px rgba(0, 0, 0, .08);
}

.modal-header {
    /* background-color: #3897bc; */
    background-image: linear-gradient(to right, #035382, #33c4e5);
    color: white;
}

.modal-title {
    color: white;
}

.text-white {
    font-weight: 500;
}

.form-group {
    font-size: 14px;
    font-weight: 500;
}

input,
select,
textarea {
    font-size: small;
}

.btn4 {
    box-shadow: 0 7px 14px rgba(50, 50, 93, .1), 0 3px 6px rgba(0, 0, 0, .08);
    text-transform: none;
    will-change: transform;
    border: none;
    font-size: .8em;
    font-weight: 400;
}

.btn4:hover {
    transform: translateY(-1px);
}

@media (max-width: 590px) {
    .btnsup {
        display: none;
    }
}

.table-responsive {
    height: 30em;
}

thead,
thead th {
    position: -webkit-sticky;
    /* for Safari */
    position: sticky !important;
    top: 0;
    background-color: white;
    border: 1px white;
    z-index: 100;
}

.card-body {
    margin: -3em 0 0 0;
    border-top: 1px black;
}

.bg-gradient-icon {
    background: linear-gradient(87deg, #36aff5 0, #3f74e7 100%) !important;
}

.col-auto {
    width: auto;
    max-width: 100%;
    flex: 0 0 auto;
    margin: 0px;
    padding: 0;
}

.icon-shape {
    margin-left: 1em;
    display: inline-flex;
    text-align: center;
    border-radius: 50%;
    align-items: center;
    justify-content: center;
}

.icon {
    width: 2rem;
    height: 2rem;
}

.principal {
    background-color: #1874dd;
    color: white !important;
}

.registro {
    margin-right: 18%;
}

@media (max-width: 992px) {
    .registro {
        margin-right: 3%;
    }
}

th {
    /* background-color: rgba(235, 235, 235, 0.801) !important; */
    /*  color: rgb(0, 0, 0) !important; */
    font-size: 1em !important;
    border: 1px white;
    text-align: center;
}

td {
    font-size: .98em;
    color: rgb(26, 26, 26);
    border: 0.5px solid;
    border-color: rgba(133, 133, 133, 0.11);
}

.down {
    font-size: .8em !important;
    border-style: dashed !important;
    display: block !important;
    background-color: transparent;
    border-color: #33333357 !important;
    border: .08em;
    padding: .4em;
    color: #33333387;
    font-weight: 450;
    border-radius: .2em;
    text-decoration: none;
}

.down:hover {
    color: dodgerblue;
    border-color: dodgerblue !important;
    text-decoration: none;
    box-shadow: 0 5px 7px rgba(113, 150, 219, 0.1), 0 2px 4px rgba(14, 64, 121, 0.08);
    transform: translateY(-1px);
}

.down:active,
.down:focus,
.down:checked,
.down:visited,
.down::after {
    outline: 0;
}

.down>i {
    font-size: 2em;
}

.errorForm {
    color: red;
    font-size: small;
}

.TopMig {
    padding-left: 8%;
}

@media (max-width: 992px) {
    .TopMig {
        padding-left: 0%;
    }
}

.but3 {
    border: 1px solid;
    border-color: #0295af;
    color: #0295af;
}

.tdbotones>.but2:hover {
    background-color: red;
    color: white;
}

.tdbotones>.but3:hover {
    background-color: rgb(7, 153, 179) !important;
    color: white;
}

.tdbotones {
    text-align: center;
    align-items: center;
}

.ngbut {
    display: contents;
    align-items: center;
    font-size: 1.1em;
}