<!--Header de Contenido -->
<div class="header bg-primary pb-6">
    <div class="container-fluid">
        <div class="header-body">
            <div class="row align-items-center py-4">
                <div class="col-lg-6 col-7 TopMig">
                    <nav aria-label="breadcrumb" class="d-none d-md-inline-block ml-md-4">
                        <ol class="breadcrumb breadcrumb-links breadcrumb-dark">
                            <li class="breadcrumb-item"><a routerLink="/tiptesis"><em class="fas fa-home"></em></a></li>
                            <li class="breadcrumb-item active" aria-current="page">{{'MDOCINT'| translate}}</li>
                        </ol>
                    </nav>
                </div>
                <div class="col-lg-6 col-5 text-right">
                    <a class="btn btn-primary principal registro" data-toggle="modal" (click)="reestrablecerDReg()" data-target="#modalDocs">
                        <em class="fa fa-plus" style="font-size: 15px;"></em>
                        <span class="btnsup"> {{'MADDOC'| translate}}</span>
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>
<!--/.Header de Contenido -->
<!-- Contenido -->
<div class="container-fluid mt--6">
    <div class="row justify-content-center">
        <div class="col-lg-10 col-md-12">
            <!-- Card -->
            <div class="card">
                <!-- Card header -->
                <div class="card-header pb-0 border-0">
                    <div class="row">
                        <div class="col-lg-8 col-12">
                            <div class="row">
                                <div class="col-auto col">
                                    <div class="icon icon-shape bg-gradient-icon text-white rounded-circle shadow">
                                        <em class="fas fa-clipboard-list"></em>
                                    </div>
                                </div>
                                <div class="col">
                                    <h2 class="mb-0 tabtit">{{'MDOCINT'| translate}}</h2>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
                <!-- /.Card header -->
                <!-- Card body -->
                <div class="card-body">
                    <div class="pt-2">
                        <nz-table #virtualTable [nzData]="docs" [nzScroll]="{ y: '18em' }">
                            <thead>
                                <tr>
                                    <th scope="col" class="sort" data-sort="name" nzWidth="150px">
                                        {{'MIDDOC'| translate}}</th>

                                    <th scope="col" class="sort" data-sort="name" nzWidth="300px">
                                        {{'MNOMDOC'| translate}}</th>
                                    <th scope="col" class="sort" data-sort="name" nzWidth="100px">
                                        {{'MOPCIO'| translate}}</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr *ngFor="let esc of virtualTable.data">
                                    <td scope="row">{{esc.idDoc}}</td>
                                    <td scope="row">{{esc.Documento}}</td>
                                    <td class="tdbotones">
                                        <button class="mr-1 but1" nz-button nzType="primary" nzGhost nzShape="circle" nzTooltipTitle="{{'MDESDOC'| translate}}" (click)="descargar(esc.idDoc, esc.Documento)" nz-tooltip> <em class="fa fa-download" ></em></button>
                                        <button class="mr-1 but2" nz-button nzType="default" nzDanger nzShape="circle" nzTooltipTitle="{{'MELDOC'| translate}}" (click)="eliminar(esc.idDoc)" nz-tooltip><em class="ngbut" nz-icon nzType="delete" ></em></button>
                                        <button class="mr-1 but3" nz-button nzType="default" nzInfo nzShape="circle" nzTooltipTitle="{{'MEDDOC'| translate}}" (click)="ver(esc.idDoc)" nz-tooltip data-toggle="modal" data-target="#modalModDocs"><em class="far fa-edit"></em></button>
                                    </td>
                                </tr>

                            </tbody>
                        </nz-table>
                    </div>
                </div>
                <!-- /.Card body -->
            </div>
            <!-- ./Card -->
        </div>
    </div>
</div>
<!-- /.Contenido -->

<div class="modal fade" id="modalModDocs">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <nz-result *ngIf="scregtes" nzStatus="success" nzTitle="{{'MDOCCOR'| translate}}!" nzSubTitle="{{mensaje1}}">
                <div nz-result-extra>
                    <button nz-button nzType="primary" data-dismiss="modal">{{'MACEPT'| translate}}</button>
                </div>
            </nz-result>
            <div class="modal-header" *ngIf="scregtesti">
                <h2 class="modal-title">
                    <em class="fas fa-file-archive iconMod"></em> {{'MMODDOC'| translate}}
                </h2>
                <div style="float: right !important;">
                    <button type="button" class="closeBG" data-dismiss="modal">
                    <span aria-hidden="true"> &times;</span>
                  </button>
                </div>
            </div>
            <div class="modal-body">
                <form [formGroup]="form" novalidate (ngSubmit)="modificando($event, documento.idDoc)" *ngIf="scregtesoc">
                    <div class="row mb-3">
                        <div class="col-lg-7 col-12 datosDoc">
                            <div class="form-group">
                                <label class="form-control-label" for="input-username">{{'MDOCUM'| translate}}:</label>
                                <input [(ngModel)]="documento.Documento" type="text" class="form-control" id="recipient-name" placeholder="{{'MINNDOC'| translate}}" formControlName="DocName">
                                <div *ngIf="CampoDoc.errors && CampoDoc.touched" class="errorForm">
                                    <p *ngIf="CampoDoc.hasError('required')">
                                        *{{'MCAMOP'| translate}}
                                    </p>

                                </div>
                            </div>
                            <div class="form-group">
                                <label class="form-control-label" for="input-username">{{'MSELAR'| translate}}:</label>
                                <input type="file" id="file" class="form-control-file" (change)="handleFileInput($event.target.files)">
                                <span [innerHTML]="result"></span>
                                <div *ngIf="FileValShow" class="errorForm">
                                    <p>
                                        *{{'MSUBAR'| translate}}
                                    </p>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-5 col-12">
                            <div class="form-group">
                                <label class="form-control-label" for="input-username">{{'MPERAR'| translate}}:</label>
                                <div class="col-12">
                                    <div class="form-group">
                                        <input class="form-check-inline" type="checkbox" value="Estudiante" id="Estudiante" [(ngModel)]="documento.Estudiante" [ngModelOptions]="{standalone: true}" (change)="onCheckboxChange($event)">
                                        <label class="form-check-label" for="defaultCheck1">{{'MFILEST'| translate}}</label>
                                    </div>
                                </div>
                                <div class="col-12">
                                    <div class="form-group">
                                        <input class="form-check-inline" type="checkbox" value="Docente" id="Docente" [(ngModel)]="documento.Docente" [ngModelOptions]="{standalone: true}" (change)="onCheckboxChange($event)">
                                        <label class="form-check-label" for="defaultCheck2">{{'MFILDOC'| translate}}</label>
                                    </div>
                                </div>
                                <div class="col-12">
                                    <div class="form-group">
                                        <input class="form-check-inline" type="checkbox" value="Operador" id="Operador" [(ngModel)]="documento.Operario" [ngModelOptions]="{standalone: true}" (change)="onCheckboxChange($event)">
                                        <label class="form-check-label" for="defaultCheck3">{{'MFILOPE'| translate}}</label>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="modal-footer justify-content-between pl-0" *ngIf="scregtesoc">
                        <button type="submit" class="btn btn-success">{{'MREGDOC'| translate}}</button>
                    </div>
                </form>
                <div *ngIf="cargando" class="justify-content-center align-items-center text-center col-12 p-3" style="padding: 0; margin:0px; border:none;">
                    <span style="margin-left: -10px;">Cargando...</span>
                    <div class="row justify-content-center align-items-center text-center">
                        <img src="assets/images/cargando.gif" alt="" height="100px">

                    </div>
                    <span style="margin-left: 10px;">{{'MTARMIN'| translate}}.</span>

                </div>
            </div>

        </div>
    </div>
</div>


<div class="modal fade" id="modalDocs">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <nz-result *ngIf="scregtes" nzStatus="success" nzTitle="{{'MDOCCOR'| translate}}!" nzSubTitle="Acceda a sus características desde la tabla de control">
                <div nz-result-extra>
                    <button nz-button nzType="primary" data-dismiss="modal">{{'MACEPT'| translate}}</button>
                </div>
            </nz-result>
            <div class="modal-header" *ngIf="scregtesoc">
                <h2 class="modal-title">
                    <em class="fas fa-file-archive iconMod"></em> {{'MREGODOC'| translate}}
                </h2>
                <div style="float: right !important;">
                    <button type="button" class="closeBG" data-dismiss="modal">
                      <span aria-hidden="true"> &times;</span>
                    </button>
                </div>
            </div>
            <div class="modal-body" *ngIf="scregtesoc">
                <div *ngIf="subio">
                    <form [formGroup]="form" novalidate (ngSubmit)="save($event)" *ngIf="noCar">
                        <div class="row mb-3">
                            <div class="col-lg-7 col-12 datosDoc">
                                <div class="form-group">
                                    <label class="form-control-label" for="input-username">{{'MDOCUM'| translate}}:</label>
                                    <input [(ngModel)]="nombreArchivo" type="text" class="form-control" placeholder="{{'MINNDOC'| translate}}" formControlName="DocName">
                                    <div *ngIf="CampoDoc.errors && CampoDoc.touched" class="errorForm">
                                        <p *ngIf="CampoDoc.hasError( 'required')">
                                            *{{'MCAMOP'| translate}}
                                        </p>

                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="form-control-label" for="input-username">{{'MSELAR'| translate}}:</label>
                                    <input type="file" id="file" class="form-control-file" (change)="handleFileInput($event.target.files)">
                                    <span [innerHTML]="result"></span>
                                    <div *ngIf="FileValShow" class="errorForm">
                                        <p>
                                            *{{'MSUBAR'| translate}}
                                        </p>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-5 col-12">
                                <div class="form-group">
                                    <label class="form-control-label" for="input-username">{{'MPERAR'| translate}}:</label>
                                    <div class="col-12">
                                        <div class="form-group">
                                            <input class="form-check-inline" type="checkbox" value="Estudiante" id="Estudiante" (change)="onCheckboxChange($event)">
                                            <label class="form-check-label" for="defaultCheck1">{{'MFILEST'| translate}}</label>
                                        </div>
                                    </div>
                                    <div class="col-12">
                                        <div class="form-group">
                                            <input class="form-check-inline" type="checkbox" value="Docente" id="Docente" (change)="onCheckboxChange($event)">
                                            <label class="form-check-label" for="defaultCheck2">{{'MFILDOC'| translate}}</label>
                                        </div>
                                    </div>
                                    <div class="col-12">
                                        <div class="form-group">
                                            <input class="form-check-inline" type="checkbox" value="Operador" id="Operador" (change)="onCheckboxChange($event)">
                                            <label class="form-check-label" for="defaultCheck3">{{'MFILOPE'| translate}}</label>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="modal-footer justify-content-between pl-0" *ngIf="scregtesoc">
                            <button type="submit" class="btn btn-success">{{'MREGDOC'| translate}}</button>
                        </div>
                    </form>
                </div>
                <div *ngIf="cargando" class="justify-content-center align-items-center text-center col-12" style="padding: 0; margin:0px; border:none;">
                    <span style="margin-left: -10px;">Cargando...</span>
                    <div class="row justify-content-center align-items-center text-center">
                        <img src="assets/images/cargando.gif" alt="" height="100px">

                    </div>
                    <span style="margin-left: 10px;">{{'MTARMIN'| translate}}.</span>

                </div>
            </div>
        </div>
    </div>
</div>