<div class="container">
    <div class="row justify-content-center">
        <div class="col-xl-10 col-lg-12 col-md-9">
            <div class="text-center">
                <h1 class="h1 titulo-log mb-1">Universidad Nacional de San Agustin</h1>
                <h1 class="h1 subtitulo-log mb-4">Escuela de Posgrado</h1>
            </div>
            <div class="card o-hidden border-0 shadow-lg my-5">
                <div class="card-body p-0 ">
                    <div class="row">
                        <div class="col-lg-4 d-none d-lg-block bg-login-image">

                        </div>
                        <div class="col-lg-8">
                            <div class="p-5">
                                <div class="text-center">

                                    <h1 class="h4 text-gray-900 mb-4">Registro de usuarios</h1>
                                </div>
                                <div>
                                    <hr>
                                    <form [formGroup]="form" novalidate (ngSubmit)="save($event)">
                                        <div class="row">
                                            <div class="col-lg-6">
                                                <div class="form-group">
                                                    <label class="form-control-label" for="input-username">Nombre/s y Apellidos</label>
                                                    <input [(ngModel)]="estudiante.Nombre" class="form-control form-control-user" id="NameOp" placeholder="Nombre y Apellido" formControlName="UserName">
                                                    <div *ngIf="CampoUs.errors && CampoUs.touched" class="errorForm">
                                                        <p *ngIf="CampoUs.hasError('required')">
                                                            *Campo obligatorio
                                                        </p>
                                                        <p *ngIf="CampoUs.hasError('pattern')">
                                                            *Ingrese solo letras
                                                        </p>
                                                        <p *ngIf="CampoUs.hasError('minlength')">
                                                            *Minimo 10 caracteres
                                                        </p>

                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-lg-6">
                                                <div class="form-group">
                                                    <label class="form-control-label" for="input-username">Correo Electrónico</label>
                                                    <input [(ngModel)]="estudiante.Correo" class="form-control form-control-user" id="emailAl" placeholder="Correo Electronico" formControlName="UserCorreo">
                                                    <div *ngIf="CampoCor.errors && CampoCor.touched" class="errorForm">
                                                        <p *ngIf="CampoCor.hasError('required')">
                                                            *Campo obligatorio
                                                        </p>
                                                        <p *ngIf="CampoCor.hasError('email')">
                                                            *Ingrese un correo valido
                                                        </p>

                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-lg-6">
                                              <!-- <div class="form-group">
                                                <select (change)="onValueChanged($event)" [(ngModel)]="seleccion" name="facNombre" class="custom-select form-control" formControlName="FacSec">
                                            <option *ngFor="let fac of tipodoc" [ngValue]="fac"> {{fac.TipoDNI}} </option>
                                            </select>
                                            </div> -->
                                                <div class="form-group">
                                                    <label class="form-control-label" for="input-username">Tipo de Documento</label>
                                                    <select class="custom-select" id="DocTip">
                                                    <option selected>Seleccione el tipo de documento</option>
                                                    <option value="DNI">DNI</option>
                                                    <option value="Pasaporte">Pasaporte</option>
                                                  </select>
                                                </div>
                                            </div>
                                            <div class="col-lg-6">
                                                <div class="form-group">
                                                    <label class="form-control-label" for="input-username">Nº de Documento</label>
                                                    <input [(ngModel)]="estudiante.DNI" class="form-control form-control-user" id="dniOp" placeholder="Numero de documento" formControlName="UserDNI">
                                                    <div *ngIf="CampoDNI.errors && CampoDNI.touched" class="errorForm">
                                                        <p *ngIf="CampoDNI.hasError('required')">
                                                            *Campo obligatorio
                                                        </p>
                                                        <p *ngIf="CampoDNI.hasError('pattern')">
                                                            *Ingrese numeros de 8 digitos validos
                                                        </p>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="row">

                                            <div class="col-lg-6">
                                                <div class="form-group">
                                                    <label class="form-control-label" for="input-username">Dirección</label>
                                                    <input [(ngModel)]="estudiante.Direccion" class="form-control form-control-user" id="dirOp" placeholder="Dirección" formControlName="UserDir">
                                                    <div *ngIf="CampoDir.errors && CampoDir.touched" class="errorForm">
                                                        <p *ngIf="CampoDir.hasError('required')">
                                                            *Campo obligatorio
                                                        </p>
                                                        <p *ngIf="CampoDir.hasError('pattern')">
                                                            *Ejemplo "PPJJ La Union Ñ 1 Socabaya"
                                                        </p>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-lg-6">
                                                <div class="form-group">
                                                    <label class="form-control-label" for="input-username">Telefono</label>
                                                    <input [(ngModel)]="estudiante.Telefono" class="form-control form-control-user" id="telefOp" placeholder="Telefono" formControlName="UserCel">
                                                    <div *ngIf="CampoCel.errors && CampoCel.touched" class="errorForm">
                                                        <p *ngIf="CampoCel.hasError('required')">
                                                            *Campo obligatorio
                                                        </p>
                                                        <p *ngIf="CampoCel.hasError('pattern')">
                                                            *Numeros de 9 cifras
                                                        </p>


                                                    </div>
                                                </div>
                                            </div>
                                        </div>


                                        <hr>
                                        <div class="form-group row ">
                                            <div class="col-lg-6 col-md-6 col-sm-6  col-xs-12 btnRes">
                                                <a class="btn btn-danger btn-user btn-block col-lg-8 col-md-12 col-sm-12 col-xs-12" style="float:left;" [routerLink]="['/login']">
                                                  Cancelar
                                                </a>
                                            </div>
                                            <div class="col-lg-6 col-md-6 col-sm-6  col-xs-12 btnRes">
                                                <button type="submit" class="btn btn-success btn-user btn-block col-lg-8 col-md-12 col-sm-12 col-xs-12" style="float: right; "> Guardar</button>

                                            </div>
                                        </div>

                                    </form>

                                </div>


                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
