.container {
    margin-top: 70px;
}

.titulo-log {
    font-family: "Arial Rounded MT Bold", "Helvetica Rounded", Arial, sans-serif;
    text-transform: uppercase;
    font-size: 35px;
    font-weight: 1000;
    color: #eaf0fa;
    margin-top: 5%;
    text-shadow: 0 8px 9px #000000, 0px -2px 1px rgb(145, 144, 144);
    letter-spacing: 0px;
    text-align: center;
}

.subtitulo-log {
    margin-top: 30px;
    font-family: "Arial Rounded MT Bold", "Helvetica Rounded", Arial, sans-serif;
    font-size: 40px;
    color: #dad8d8;
    text-shadow: 0 8px 9px #000000, 0px -2px 1px rgb(145, 144, 144);
    font-weight: bold;
    letter-spacing: -1px;
    text-align: center;
}

@media (max-width: 664px) {
    .titulo-log {
        font-size: 26px;
        font-weight: 900;
    }
    .subtitulo-log {
        font-size: 30px;
        font-weight: 500;
        margin-top: 20px;
    }
}

.card-header {
    margin-bottom: 0;
    background-color: #fff;
}

.card {
    border: 0;
    box-shadow: 0 0 2rem 0 rgba(1, 22, 39, 0.322);
}

@media (max-width: 438px) {
    .textpos {
        display: none;
    }
    .header {
        min-height: 400px;
        padding-left: 0;
    }
}

@media (max-width: 380px) {
    .textpos {
        display: none;
    }
    .header {
        min-height: 400px;
    }
}

form {
    font-size: 14px;
    font-weight: 500;
}

option,
select,
input {
    font-size: 13px;
}

.bg-login-image {
    background: url(https://portal.andina.pe/EDPfotografia3/Thumbnail/2020/03/11/000660129W.jpg);
    background-position: center;
    background-size: cover
}

@media (max-width: 560px) {
    .card-body {
        padding: 0px;
    }
    .p-5 {
        padding: 3rem 1rem!important;
    }
}

.errorForm {
    color: red;
    font-size: small;
}

.btn {
    box-shadow: 0 7px 14px rgba(50, 50, 93, .1), 0 3px 6px rgba(0, 0, 0, .08);
    text-transform: none;
    will-change: transform;
    border: none;
    font-size: .8em;
    font-weight: 400;
}

.btn:hover {
    transform: translateY(-1px);
    background-color: #2c93d8;
}

@media (max-width: 1060px) {
    .btnTxt {
        display: none;
    }
}
