<div class="container">
    <div class="row justify-content-center">
        <div class="col-xl-10 col-lg-12 col-md-9">
            <div class="text-center">
                <h1 class="h1 titulo-log mb-1">Universidad Nacional de San Agustin</h1>
                <h1 class="h1 subtitulo-log mb-4">Escuela de Posgrado - Sistema de gestión de Tesis</h1>
            </div>
            <div class="card o-hidden border-0 shadow-lg my-5">
                <div class="card-body p-0">
                    <div class="row">
                        <div class="col-lg-5 d-none d-lg-block bg-login-image">

                        </div>
                        <div class="col-lg-7">
                            <div class="p-5">
                                <div class="text-center">
                                    <h1 class="h4 text-gray-900 mb-4">Iniciar Sesión </h1>
                                </div>
                                <form [formGroup]="form" novalidate (ngSubmit)="save($event)">
                                    <div class="form-group">
                                        <div class="tag">
                                            <em class="material-icons">account_circle</em>
                                            <span>Usuario:</span>
                                        </div>
                                        <input [(ngModel)]="user.DNI" class="form-control form-control-user" id="usuario" placeholder="Ingrese su DNI" formControlName="UserName">
                                        <div style="height: .5em;">
                                            <div *ngIf="CampoUs.errors && CampoUs.touched" class="errorForm">
                                                <p *ngIf="CampoUs.hasError('required')">
                                                    *Es obligatorio llenar el campo Usuario
                                                </p>
                                                <p *ngIf="CampoUs.hasError('minlength') && !CampoUs.hasError('pattern')">
                                                    *Usuario con longitud errónea
                                                </p>
                                                <p *ngIf="CampoUs.hasError('maxlength')&& !CampoUs.hasError('pattern')">
                                                    *Usuario con longitud errónea
                                                </p>
                                                <p *ngIf="CampoUs.hasError('pattern')">
                                                    *El usuario tiene caracteres inválidos
                                                </p>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <div class="tag">
                                            <em class="material-icons">vpn_key</em>
                                            <span>Contraseña:</span>
                                        </div>
                                        <!-- VER CONTRASEÑA SOLO PARA GOOFIS -->
                                        <div class="input-group">
                                            <input [(ngModel)]="user.password" [type]="fieldTextType? 'text' : 'password'" class="form-control" id="contraseña" placeholder="Ingrese su contraseña" formControlName="UserContra" />
                                            <div class="input-group-append">
                                                <span class="input-group-text" (click)="toggleFieldTextType()">
                                                <em class="fa" [ngClass]="{ 'fa-eye-slash': fieldTextType,'fa-eye': !fieldTextType}"></em>

                                              </span>
                                            </div>
                                        </div>
                                        <!-- VER CONTRASEÑA SOLO PARA GOOFIS -->
                                        <div style="height: .5em;">
                                            <div *ngIf="CampoCon.errors && CampoCon.touched" class="errorForm" style="height: 30px;">
                                                <p *ngIf="CampoCon.hasError('required')">
                                                    *Es obligatorio llenar el campo Contraseña
                                                </p>
                                                <p *ngIf="CampoCon.hasError('minlength') && !CampoCon.hasError('pattern')">
                                                    *La contraseña debe tener 6-20 caracteres
                                                </p>
                                                <p *ngIf="CampoCon.hasError('maxlength')&& !CampoCon.hasError('pattern')">
                                                    *La contraseña debe tener 6-20 caracteres
                                                </p>
                                                <p *ngIf="CampoCon.hasError('pattern')">
                                                    *La contraseña tiene caracteres inválidos
                                                </p>

                                            </div>
                                        </div>
                                    </div>
                                    <button type="submit" class="btn btn-user btn-block" [disabled]="cargando"> Ingresar
                                      <em nz-icon  [nzType]="'loading'" *ngIf="cargando" style="font-size: 1.25em; margin-left: .5em;"></em>
                                    </button>

                                </form>
                                <!-- <router-outlet></router-outlet> -->
                                <hr>

                                <div class="text-center">
                                    <a class="small" routerLink="/reestablecer">Olvidaste tu contraseña?</a>

                                </div>
                                <div class="text-center" hidden>
                                    <a class="small" routerLink="/registro">Registrar Usuario</a>
                                </div>

                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>

    </div>

</div>

<!--
<ng-template #dangerTpl>
    {{mensajeError}}
</ng-template>
<button class="btn btn-danger" (click)="showDanger()" ngbTooltip="Will disappear in 15s">Danger toast</button>&nbsp;
 -->
<app-toasts aria-live="polite" aria-atomic="true"></app-toasts>
<!-- <button class="btn btn-primary" (click)="showStandard()" ngbTooltip="Will disappear in 5s">Standard toast</button>&nbsp; -->