.container {
    padding-top: 5%;
    height: 100%;
}

.titulo-log {
    font-family: "Arial Rounded MT Bold", "Helvetica Rounded", Arial, sans-serif;
    text-transform: uppercase;
    font-size: 35px;
    font-weight: 1000;
    color: #eaf0fa;
    margin-top: 5%;
    text-shadow: 0 8px 9px #000000, 0px -2px 1px rgb(145, 144, 144);
    letter-spacing: 0px;
    text-align: center;
    /* margin-top: 30px; */
}

.subtitulo-log {
    margin-top: 30px;
    font-family: "Arial Rounded MT Bold", "Helvetica Rounded", Arial, sans-serif;
    font-size: 2.5em;
    color: #dad8d8;
    text-shadow: 0 8px 9px #000000, 0px -2px 1px rgb(145, 144, 144);
    font-weight: bold;
    letter-spacing: -1px;
    text-align: center;
}

@media (max-width: 992px) {
    .titulo-log {
        font-size: 2.3em;
        font-weight: 900;
    }
    .subtitulo-log {
        font-size: 1.5em;
        font-weight: 500;
        margin-top: 20px;
    }
}

@media (max-width: 664px) {
    .titulo-log {
        font-size: 26px;
        font-weight: 900;
    }
    .subtitulo-log {
        font-size: 1.5em;
        font-weight: 500;
        margin-top: 20px;
    }
}

.card-header {
    margin-bottom: 0;
    background-color: #fff;
}

.card {
    border: 0;
    box-shadow: 0 0 2rem 0 rgba(1, 22, 39, 0.322);
}

@media (max-width: 438px) {
    .textpos {
        display: none;
    }
    .header {
        min-height: 400px;
        padding-left: 0;
    }
}

@media (max-width: 380px) {
    .textpos {
        display: none;
    }
    .header {
        min-height: 400px;
    }
}

form {
    font-size: 14px;
    font-weight: 500;
}

input {
    font-size: 13px;
}

.bg-login-image {
    background: url(https://portal.andina.pe/EDPfotografia3/Thumbnail/2020/03/11/000660129W.jpg);
    background-position: center;
    background-size: cover
}

@media (max-width: 560px) {
    .card-body {
        padding: 0px;
    }
    .p-5 {
        padding: 3rem 1rem!important;
    }
}

.errorForm {
    color: red;
    font-size: small;
}

.btn {
    box-shadow: 0 7px 14px rgba(50, 50, 93, .1), 0 3px 6px rgba(0, 0, 0, .08);
    text-transform: none;
    will-change: transform;
    border: none;
    font-size: .8em;
    font-weight: 400;
}

@media (max-width: 1060px) {
    .btnTxt {
        display: none;
    }
}

.material-icons {
    color: #a3a3a3;
    margin-right: .2em;
}

.form-group {
    font-size: small;
}

.form-group .tag {
    margin-bottom: .3em !important;
    /* padding-bottom: 2em; */
}

.fa-eye-slash:hover,
.fa-eye:hover {
    cursor: pointer;
}

.btn-user {
    /* background-color: rgb(9, 51, 99); */
    background-color: rgb(134, 12, 12);
    color: white;
    font-size: .9em;
}

.btn:hover {
    transform: translateY(-1px);
    /* background-color: #2781ca; */
    background-color: #bd5858;
}
