<!--Header de Contenido -->
<div class="header bg-primary pb-6">
    <div class="container-fluid">
        <div class="header-body">
            <div class="row align-items-center py-4">
                <div class="col-lg-6 col-7 TopMig">
                    <nav aria-label="breadcrumb" class="d-none d-md-inline-block ml-md-4">
                        <ol class="breadcrumb breadcrumb-links breadcrumb-dark">
                            <li class="breadcrumb-item"><a routerLink="/adroles"><em class="fas fa-home"></em></a></li>
                            <li class="breadcrumb-item active" aria-current="page">Roles</li>
                        </ol>
                    </nav>
                </div>
                <div class="col-lg-6 col-5 text-right">
                    <a class="btn btn-primary principal registro" data-toggle="modal" data-target="#modal-default">
                        <em class="fa fa-plus" style="font-size: 15px;"></em>
                        <span class="btnsup"> Agregar Rol</span>
                    </a>
                </div>

            </div>
        </div>
    </div>
</div>
<!--/.Header de Contenido -->
<!-- Contenido -->
<div class="container-fluid mt--6">
    <div class="row justify-content-center">
        <div class="col-lg-10 col-md-12">
            <!-- Card -->
            <div class="card">
                <!-- Card header -->
                <div class="card-header pb-0 border-0">
                    <div class="row">
                        <div class="col-auto col">
                            <div class="icon icon-shape bg-gradient-icon text-white rounded-circle shadow">
                                <em class="fas fa-chalkboard-teacher"></em>
                            </div>
                        </div>

                        <div class="col">
                            <h2 class="mb-0 tabtit">Mantenimiento de roles</h2>
                        </div>

                        <div class="col">
                            <a class="btn2 btn btn-success" style="color: white;float: right;" data-toggle="modal" data-target="#datos">
                                <em class="fa fa-file-upload"></em>
                                <span class="btnsup"> Cargar archivo</span>
                            </a>
                        </div>

                    </div>
                    <hr>
                    <div class="card-body">
                        <div class="row">
                            <div class="col">
                                <div class="form-group">
                                    <input type="text" class="form-control" name="filterPost" placeholder="Aqui va el rolsito" hidden>
                                </div>

                            </div>
                        </div>
                    </div>
                    <!-- /.Card header -->
                    <!-- Card body -->
                    <div class="card-body">

                        <div class="pt-2">
                            <nz-table #virtualTable [nzData]="roles" [nzScroll]="{ y: '20em' }">
                                <thead>
                                    <tr>
                                        <th scope="col" class="sort" data-sort="name" nzWidth="100px">
                                            idRol</th>
                                        <th scope="col" class="sort" data-sort="name" nzWidth="150px">
                                            Nombre Rol</th>
                                        <th scope="col" class="sort" data-sort="name" nzWidth="150px">
                                            Detalles</th>
                                        <th scope="col" class="sort" data-sort="name" nzWidth="100px">
                                            Borrar</th>
                                    </tr>
                                </thead>
                                <tbody>

                                    <tr *ngFor="let rol of virtualTable.data">
                                        <td scope="row">
                                            {{rol.IdRol}}
                                        </td>
                                        <td scope="row">
                                            {{rol.NombreRol}}
                                        </td>
                                        <td class="project-actions  text-center align-items-center">
                                            <a class="btn1 btn-neutral btn-sm" routerLink="/verrol/{{rol.IdRol}}">
                                                <em class="fas fa-pencil-alt"></em>
                                                <span class="btnTxt"> Detalles</span>
                                            </a>
                                        </td>
                                        <td class="project-actions text-center align-items-center">
                                            <a class="btn1 btn-neutral btn-sm" (click)="eliminar(rol.IdRol)">
                                                <em class="fas fa-trash"></em>
                                                <span class="btnTxt"> Borrar</span>
                                            </a>
                                        </td>
                                    </tr>
                                </tbody>
                            </nz-table>
                        </div>
                    </div>
                    <!-- /.Card body -->
                </div>
                <!-- ./Card -->
            </div>
        </div>
    </div>
    <!-- /.Contenido -->
    <div class="modal fade" id="modal-default">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header justify-content-center">
                    <h2 class="modal-title">
                        Registrar Nuevo Rol
                    </h2>

                </div>
                <div class="modal-body">
                    <form>
                        <div class="form-group">
                            <label for="recipient-name" class="col-form-label">Rol:</label>
                            <input [(ngModel)]="role.NombreRol" type="text" name="rolNombre" class="form-control" id="recipient-name" placeholder="Ingrese el rol">
                        </div>
                    </form>
                </div>
                <div class="modal-footer justify-content-between">
                    <button type="button" class="btn btn-danger" data-dismiss="modal">Cancelar</button>
                    <button type="button" class="btn btn-success" (click)="crearRol()">Registrar</button>
                </div>
            </div>
            <!-- /.modal-content -->
        </div>
        <!-- /.modal-dialog -->
    </div>
    <!-- /.modal -->

    <div class="modal fade" id="datos">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header justify-content-center">
                    <h2 class="modal-title">
                        Cargar datos de usuarios
                    </h2>

                </div>
                <div class="modal-body">
                    <form>
                        <div class="form-group">

                            <label for="recipient-name" class="col-form-label">Nombre de archivo:</label>
                            <input type="file" id="file" class="form-control-file" (change)="file($event)">
                            <span [innerHTML]="result"></span>


                        </div>
                    </form>
                </div>
                <div class="modal-footer justify-content-between">
                    <button type="button" class="btn4 btn btn-danger" data-dismiss="modal">Cancelar</button>
                    <button type="button" class="btn btn-lg btn-success" [disabled]="carga?true:null">Cargar</button>
                </div>
            </div>
            <!-- /.modal-content -->
        </div>
        <!-- /.modal-dialog -->
    </div>
    <!-- /.modal -->