<!--Header de Contenido -->
<div class="header bg-primary pb-6">
    <div class="container-fluid">
        <div class="header-body">
            <div class="row align-items-center py-4">
                <div class="col-lg-6 col-7 TopMig">
                    <nav aria-label="breadcrumb" class="d-none d-md-inline-block ml-md-4">
                        <ol class="breadcrumb breadcrumb-links breadcrumb-dark">
                            <li class="breadcrumb-item"><a routerLink="/adlistipjurados"><em class="fas fa-home"></em></a></li>
                            <li class="breadcrumb-item active" aria-current="page">{{'MTIPJURS'| translate}}</li>
                        </ol>
                    </nav>
                </div>

                <div class="col-lg-6 col-5 text-right">
                    <a class="btn btn-primary principal registro" data-toggle="modal" data-target="#modal-default">
                        <em class="fa fa-plus" style="font-size: 15px;"></em>
                        <span class="btnsup"> {{'MADTIPD'| translate}}</span>
                    </a>
                </div>

            </div>
        </div>
    </div>
</div>
<!--/.Header de Contenido -->
<!-- Contenido -->
<div class="container-fluid mt--6">
    <div class="row justify-content-center">
        <div class="col-lg-10 col-md-12">
            <!-- Card -->
            <div class="card">
                <!-- Card header -->
                <div class="card-header pb-0 border-0">
                    <div class="row">
                        <div class="col-lg-8 col-12">
                            <div class="row">
                                <div class="col-auto col">
                                    <div class="icon icon-shape bg-gradient-icon text-white rounded-circle shadow">
                                        <em class="fas fa-user-tie"></em>
                                    </div>
                                </div>
                                <div class="col">
                                    <h2 class="mb-0 tabtit">{{'MGESJUR'| translate}}</h2>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-4 col-12">
                            <a class="btn2 btn btn-success" style="color: white;float: right;" data-toggle="modal" data-target="#datos">
                                <em class="fa fa-file-upload"></em>
                                <span class="btnsup"> {{'MCARAR'| translate}}</span>
                            </a>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col">
                            <div class="form-group">
                                <input type="text" class="form-control" name="filterPost" placeholder="Aqui va el rolsito" hidden>
                            </div>

                        </div>
                    </div>
                </div>
                <!-- /.Card header -->
                <!-- Card body -->
                <div class="card-body">
                    <div class="pt-2">
                        <nz-table #virtualTable [nzData]="tiposJurado" [nzScroll]="{ y: '18em' }">
                            <thead>
                                <tr>
                                    <th scope="col" class="sort" data-sort="name" nzWidth="120px">
                                        {{'MIDTJUR'| translate}}</th>

                                    <th scope="col" class="sort" data-sort="name" nzWidth="200px">
                                        {{'MTIPJU'| translate}}</th>
                                    <th scope="col" class="sort" data-sort="name" nzWidth="100px">
                                        {{'MOPCIO'| translate}}</th>
                                </tr>
                            </thead>
                            <tbody class="list">
                                <tr *ngFor="let esc of virtualTable.data">
                                    <td scope="row">{{esc.IdTipoJurado}}</td>
                                    <td scope="row">{{esc.TipoJurado}}</td>
                                    <td class="tdbotones">

                                        <button class="mr-1 but2" nz-button nzType="default" nzDanger nzShape="circle" nzTooltipTitle="{{'MELREG'| translate}}" nz-tooltip (click)="eliminar(esc.IdTipoJurado)"><em class="ngbut" nz-icon nzType="delete" ></em></button>
                                        <button class="mr-1 but3" nz-button nzType="default" nzInfo nzShape="circle" nzTooltipTitle="{{'MEDREG'| translate}}" nz-tooltip data-toggle="modal" data-target="#edtJurado" (click)="ver(esc.IdTipoJurado)"><em class="far fa-edit"></em></button>
                                    </td>

                                </tr>
                            </tbody>
                        </nz-table>
                    </div>
                </div>
                <!-- /.Card body -->
            </div>
            <!-- ./Card -->
        </div>
    </div>
</div>
<!-- /.Contenido -->

<div class="modal fade" id="modal-default">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header justify-content-center">
                <h2 class="modal-title">
                    {{'MREGJUR'| translate}}
                </h2>
            </div>
            <div class="modal-body">
                <form [formGroup]="form" novalidate (ngSubmit)="save($event)">
                    <div class="form-group">
                        <label for="recipient-name" class="col-form-label">{{'MTIPJU'| translate}}:</label>
                        <input [(ngModel)]="tipoJurado.TipoJurado" type="text" class="form-control" formControlName="JurName" id="recipient-name" placeholder="{{'MINJUR'| translate}}">
                        <div *ngIf="CampoJur.errors && CampoJur.touched" class="errorForm">
                            <p *ngIf="CampoJur.hasError('required')">
                                *{{'MCAMOP'| translate}}
                            </p>
                            <p *ngIf="CampoJur.hasError('pattern')">
                                *{{'MINLET'| translate}}
                            </p>
                            <p *ngIf="CampoJur.hasError('minlength')">
                                *{{'MIN6LET'| translate}}
                            </p>
                            <p *ngIf="CampoJur.hasError('maxlength')">
                                *{{'MAX40CR'| translate}}
                            </p>

                        </div>
                    </div>
                    <div class="modal-footer justify-content-between">
                        <button type="button" class="btn btn-danger" data-dismiss="modal">{{'MCANCEL'| translate}}</button>
                        <button type="submit" class="btn btn-success">{{'MREGIS'| translate}}</button>
                    </div>
                </form>
            </div>

        </div>
        <!-- /.modal-content -->
    </div>
    <!-- /.modal-dialog -->
</div>
<!-- /.modal -->

<div class="modal fade" id="edtJurado">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header justify-content-center">
                <h2 class="modal-title">
                    {{'MODJUR'| translate}}
                </h2>
            </div>
            <div class="modal-body">
                <form [formGroup]="form" novalidate (ngSubmit)="edit($event, tipoJurado.IdTipoJurado)">
                    <div class="form-group">
                        <label for="recipient-name" class="col-form-label">Tipo:</label>
                        <input [(ngModel)]="tipoJurado.TipoJurado" type="text" class="form-control" formControlName="JurName" id="recipient-name" placeholder="{{'MINJUR'| translate}}">
                        <div *ngIf="CampoJur.errors && CampoJur.touched" class="errorForm">
                            <p *ngIf="CampoJur.hasError('required')">
                                *{{'MCAMOP'| translate}}
                            </p>
                            <p *ngIf="CampoJur.hasError('pattern')">
                                *{{'MINLET'| translate}}
                            </p>
                            <p *ngIf="CampoJur.hasError('minlength')">
                                *{{'MIN6LET'| translate}}
                            </p>
                            <p *ngIf="CampoJur.hasError('maxlength')">
                                *{{'MAX40CR'| translate}}
                            </p>

                        </div>
                    </div>
                    <div class="modal-footer justify-content-between">
                        <button type="button" class="btn btn-danger" data-dismiss="modal">{{'MCANCEL'| translate}}</button>
                        <button type="submit" class="btn btn-success">{{'MMODIF'| translate}}</button>
                    </div>
                </form>
            </div>

        </div>
        <!-- /.modal-content -->
    </div>
    <!-- /.modal-dialog -->
</div>
<!-- /.modal -->

<div class="modal fade" id="datos">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header justify-content-center">
                <h2 class="modal-title">
                    {{'MCARJUR'| translate}}
                </h2>

            </div>
            <div class="modal-body">
                <form>
                    <div class="form-group">
                        <div class="row">
                            <div class="col-8">
                                <label for="recipient-name" class="col-form-label">{{'MCARAR'| translate}}</label>
                                <input type="file" id="file" class="form-control-file" (change)="file($event)">
                                <span [innerHTML]="result"></span>
                                <div *ngIf="FileValShow" class="errorForm">
                                    <p>
                                        *{{'MSUBXLS'| translate}}
                                    </p>
                                </div>

                            </div>
                            <div class="col-4">
                                <div class="form-group" style="float:right; padding-right: 2em;">
                                    <button class="down" nzType="dashed" (click)="getPlantillaTipoJurado()">
                              <em nz-icon nzType="download" ></em><br>
                              {{'MDESCAR'| translate}} <br>{{'MFORMAT'| translate}}
                            </button>
                                </div>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
            <div class="modal-footer justify-content-between">
                <button type="button" class="btn4  btn btn-danger" data-dismiss="modal">{{'MCANCEL'| translate}}</button>
                <button type="button" class="btn btn-lg btn-success" (click)="cargar()">{{'MCARGAR'| translate}}</button>
            </div>
        </div>
        <!-- /.modal-content -->
    </div>
    <!-- /.modal-dialog -->
</div>
<!-- /.modal -->