<div class="container">
    <div class="row justify-content-center">
        <div class="col-xl-10 col-lg-12 col-md-9">
            <div class="text-center">
                <h1 class="h1 titulo-log mb-1">Universidad Nacional de San Agustin</h1>
                <h1 class="h1 subtitulo-log mb-4">Escuela de Posgrado</h1>
            </div>
            <div class="card o-hidden border-0 shadow-lg my-5">
                <div class="card-body p-0 ">
                    <div class="row ">
                        <div class="col-lg-5 d-none d-lg-block bg-login-image">

                        </div>
                        <div class="col-lg-7">
                            <div class="p-5">
                                <div class="text-center">

                                    <h1 class="h4 text-gray-900 mb-4">Reestablecer Contraseña</h1>
                                </div>
                                <div>
                                    <hr>
                                    <form [formGroup]="form" novalidate (ngSubmit)="save($event)">
                                        <div class="form-group">
                                            <div class="tag">
                                                <em class="material-icons">account_circle</em>
                                                <span>Usuario:</span>
                                            </div>
                                            <input [(ngModel)]="DNI" class="form-control form-control-user" id="usuario" placeholder="Ingrese su DNI" formControlName="UserName">
                                            <div *ngIf="CampoUs.errors && CampoUs.touched" class="errorForm">
                                                <p *ngIf="CampoUs.hasError('required')">
                                                    *Campo obligatorio
                                                </p>
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <div class="tag">
                                                <em class="material-icons">alternate_email</em>
                                                <span>Correo electronico:</span>
                                            </div>
                                            <input [(ngModel)]="Correo" class="form-control form-control-user" id="emailAl" placeholder="Ingrese su correo Electronico" formControlName="UserCorreo">
                                            <div *ngIf="CampoCor.errors && CampoCor.touched" class="errorForm">
                                                <p *ngIf="CampoCor.hasError('required')">
                                                    *Campo obligatorio
                                                </p>
                                                <p *ngIf="CampoCor.hasError('email')">
                                                    *Ingrese un correo valido
                                                </p>
                                            </div>
                                        </div>
                                        <hr>
                                        <div class="form-group row ">
                                            <div class="col-lg-6 col-md-6 col-sm-6  col-xs-12 btnRes">
                                                <a class="btn btn-danger btn-user btn-block col-lg-8 col-md-12 col-sm-12 col-xs-12" style="float:left;" [routerLink]="['/login']">
                                                  Cancelar
                                                </a>
                                            </div>
                                            <div class="col-lg-6 col-md-6 col-sm-6  col-xs-12 btnRes">
                                                <button type="submit" class="btn btn-success btn-user btn-block col-lg-8 col-md-12 col-sm-12 col-xs-12" style="float: right; ">Enviar</button>

                                            </div>
                                        </div>
                                    </form>

                                </div>


                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>