.sidebar-logo {
    position: relative;
    /*  height: 100px; */
    overflow: hidden;
    line-height: 64px;
    transition: all .3s;
    vertical-align: middle;
    justify-items: center;
    padding-left: 1em;
}

.sidebar-logo img {
    display: inline-block;
    height: 8em;
    width: 7em;
    margin-right: .5em;
    /* vertical-align: middle; */
}

.sidebar-logo1 {
    position: relative;
    /*  height: 100px; */
    overflow: hidden;
    line-height: 64px;
    transition: all .3s;
    vertical-align: middle;
    justify-items: center;
    padding-left: 1em;
}

.sidebar-logo1 img {
    display: inline-block;
    height: 3em;
    width: 2.7em;
    margin-right: .5em;
    /* vertical-align: middle; */
}

.card-header {
    margin-bottom: 0;
    padding: 1.25rem 1.5rem;
    border-bottom: 1px solid rgba(0, 0, 0, .05);
    background-color: rgb(9, 51, 99);
    /* border-radius: 1em; */
}

.tabtit {
    font-weight: 600;
    font-size: 1.5em;
    letter-spacing: -1;
    padding-bottom: 1em;
    color: rgba(255, 255, 255);
    display: inline-block;
    /*  padding-top: 1.7em; */
    /* text-decoration: underline; */
}

.mt--6,
.my--6 {
    margin-top: -5.5rem !important;
}

.card {
    padding: 0;
    margin: 0;
    border: none;
    margin-bottom: 30px;
    /* border-radius: .6em; */
    box-shadow: 0 7px 14px rgba(47, 47, 49, 0.486);
}

.header {
    position: relative;
    min-height: 200px;
    background: linear-gradient(87deg, #7a3939 0, #583030 100%) !important;
}

.subcard {
    margin-top: 100px;
}

.HeadCont {
    padding-left: 50px;
}

.sort {
    font-weight: 500 !important;
    color: rgb(13, 70, 134);
    font-size: 1em;
    text-align: center;
    align-items: center;
}

.breadcrumb-item {
    font-size: small;
    text-decoration: none;
}

.btn1 {
    font-size: .7rem;
    position: relative;
    transition: all .15s ease;
    text-transform: none;
    will-change: transform;
    color: rgb(185, 185, 185) !important;
    text-decoration: none;
    display: inline-block;
}

.btn1:hover {
    transform: translateY(-1px);
    box-shadow: 0 7px 14px rgba(50, 50, 93, .1), 0 3px 6px rgba(0, 0, 0, .08);
    background-color: rgba(85, 161, 224, 0.925);
    color: white !important;
}

.btn {
    box-shadow: 0 7px 14px rgba(50, 50, 93, .1), 0 3px 6px rgba(0, 0, 0, .08);
    text-transform: none;
    will-change: transform;
    border: none;
    font-size: .9em;
    font-weight: 400;
    /* background-color: #03a72c; */
}

.btn:hover {
    transform: translateY(-1px);
    background-color: #5962b4;
}

.text-white {
    font-weight: 500;
}

.form-group {
    font-size: 14px;
    font-weight: 500;
}

input,
select,
textarea {
    font-size: small;
}

.btn2 {
    box-shadow: 0 7px 14px rgba(50, 50, 93, .1), 0 3px 6px rgba(0, 0, 0, .08);
    text-transform: none;
    will-change: transform;
    border: none;
    font-size: .8em;
    font-weight: 400;
}

.btn2:hover {
    transform: translateY(-1px);
    background-color: #5962b4;
}

@media (max-width: 590px) {
    .btnsup {
        display: none;
    }
}

.btn4 {
    box-shadow: 0 7px 14px rgba(50, 50, 93, .1), 0 3px 6px rgba(0, 0, 0, .08);
    text-transform: none;
    will-change: transform;
    border: none;
    font-size: .8em;
    font-weight: 400;
}

.btn4:hover {
    transform: translateY(-1px);
}

.seccion {
    border: .02em solid;
    padding: 1.1em;
    border-color: #c0c0c0;
    border-radius: .2em;
    margin-bottom: 1em;
}

.close {
    outline: 0;
    color: white;
}

.punto {
    display: none;
}

@media (max-width: 405px) {
    .IconTit {
        display: none;
    }
    .secTit {
        width: 9em !important;
        margin-left: -.3em !important;
        text-align: center;
    }
    .quitar {
        display: none;
    }
    .punto {
        display: inline;
    }
    .seccion {
        margin-left: -1.5em;
        margin-right: -1.5em;
    }
}

.icondet {
    color: rgb(81, 157, 219);
    margin-right: .5em;
}

.bg-gradient-icon {
    /* background: linear-gradient(87deg, #36aff5 0, #3f74e7 100%) !important; */
    background: rgb(66, 161, 206) !important;
}

.col-auto {
    width: auto;
    max-width: 100%;
    flex: 0 0 auto;
    margin: 0px;
    padding: 0;
}

.icon-shape {
    margin-left: 1.5em;
    display: inline-flex;
    text-align: center;
    border-radius: 50%;
    align-items: center;
    justify-content: center;
}

.icon {
    width: 1.7rem;
    height: 1.7rem;
}

.icon>i {
    font-size: .2em;
}

.resultadoD {
    border: .02em solid;
    padding: 1.1em;
    border-color: #c0c0c0;
    border-radius: .2em;
    margin-bottom: 1em;
}

.contenedor {
    background-color: rgb(255, 255, 255);
}

td {
    font-size: .98em;
    color: rgb(26, 26, 26);
    border: 0.5px solid;
    border-color: rgba(133, 133, 133, 0.11);
}

.cardatos {
    border-right: 1px dotted;
    /* border-color: rgba(199, 199, 199, 0.582); */
    border-color: rgba(78, 129, 177, 0.582);
}

.cartit {
    border-bottom: 1px solid;
    border-color: rgba(17, 129, 235, 0.582);
}

mat-card {
    border-top: .3em solid;
    border-color: rgb(66, 161, 206) !important;
}

@media (max-width: 992px) {
    .cardatos {
        border-right: none;
        border-bottom: 1px solid;
        /* border-color: rgba(17, 129, 235, 0.582); */
        border-color: rgba(199, 199, 199, 0.582);
        margin-bottom: .5em;
    }
}

.bg-gradient-icon1 {
    background: linear-gradient(87deg, #36aff5 0, #3f74e7 100%) !important;
}

.icon-shape1 {
    margin-left: 1em;
    display: inline-flex;
    text-align: center;
    border-radius: 50%;
    align-items: center;
    justify-content: center;
}

.icon1 {
    width: 1.5rem;
    height: 1.5rem;
    font-size: .7em;
}

@media (max-width: 992px) {
    .icon1 {
        margin-bottom: 1em;
    }
}

@media (max-width: 405px) {
    .resultadotab {
        margin-left: -1.5em;
        margin-right: -1.5em;
    }
}

.tires {
    font-weight: 600;
    font-size: 1em;
    margin-bottom: 0em!important;
    padding-bottom: 0em !important;
    color: rgb(32, 32, 32);
}

.rebo {
    color: #3d7397;
}

.reboñeñe {
    /* padding: 1.5em; */
    padding-left: 1.5em;
    padding-right: 1.5em;
    overflow-y: scroll;
    /* padding-top: .2em; */
    overflow-x: hidden;
}

.resheader {
    box-shadow: 0 0px 14px rgba(47, 47, 49, 0.486);
}

mat-card {
    padding: 0;
    margin: 0;
    box-shadow: 0 0px 14px rgba(47, 47, 49, 0.486);
}

mat-card-header {
    padding: 0;
    margin: 0;
    padding-top: 1.5em;
    padding-bottom: 1.5em;
}

.TopMig {
    padding-left: 8%;
}

@media (max-width: 992px) {
    .TopMig {
        padding-left: 0%;
    }
}

.ant-collapse {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    color: rgba(0, 0, 0, 0.65);
    font-size: 14px;
    font-variant: tabular-nums;
    line-height: 1.5715;
    list-style: none;
    font-feature-settings: 'tnum';
    background-color: #ffffff;
    border: 1px solid #d9d9d9;
    border-bottom: 0;
    border-radius: 2px;
}

.ant-collapse-content>.ant-collapse-content-box {
    padding: 0px;
}
