<!--Header de Contenido -->
<div class="header bg-primary pb-6">
    <div class="container-fluid">
        <div class="header-body">
            <div class="row align-items-center py-4">
                <div class="col-12 TopMig">
                    <nav aria-label="breadcrumb" class="d-none d-md-inline-block ml-md-4">
                        <ol class="breadcrumb breadcrumb-links breadcrumb-dark">
                            <li class="breadcrumb-item"><a routerLink="/bustesis"><em class="fas fa-home"></em></a></li>
                            <li class="breadcrumb-item active" aria-current="page">{{'MBUSTE'| translate}}</li>
                        </ol>
                    </nav>
                </div>


            </div>
        </div>
    </div>
</div>
<!--/.Header de Contenido -->
<!-- Contenido -->
<div class="container-fluid mt--6">
    <div class="row justify-content-center">
        <div class="col-lg-10 col-md-12">
            <!-- Card -->
            <div class="card">
                <!-- Card header -->
                <div class="card-header border-0">
                    <div class="row">
                        <div class="col-12">
                            <div class="sidebar-logo text-center justify-content-center">
                                <h2 class="mb-0 tabtit"> <em class="fas fa-search"></em> {{'MBUSTE'| translate}}</h2>
                            </div>
                        </div>

                    </div>

                </div>
                <!-- /.Card header -->
                <!-- Card body -->
                <div class="card-body">

                    <form class="form-group">
                        <div class="col-12" style="float: left;">
                            <div class="seccion">

                                <div style="position: absolute;margin-top: -2em; background-color: white;">
                                    <div class="row secTit">
                                        <div class="IconTit col-auto col">
                                            <div class="icon icon-shape bg-gradient-icon text-white rounded-circle shadow">
                                                <em class="fas fa-file-alt"></em>
                                            </div>
                                        </div>
                                        <div class="col" style="margin-left: -.5em;">
                                            <label>D<span class="punto">.</span><span class="quitar">atos</span> de Tesis:</label>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-lg-6 col-12">
                                        <div class="row pt-3">
                                            <div class="col-12 pt-1">
                                                <label for="nomEst">{{'MTITULO'| translate}}:</label>
                                                <input type="text" class="form-control col-12" id="nombre" name="nombre" placeholder="{{'MINTITE'| translate}}" [(ngModel)]="camposTesis.TituloTesis">
                                            </div>
                                            <div class="col-12 pt-3">
                                                <label for="nomEst">{{'MPACLA'| translate}}:</label>
                                                <input type="text" class="form-control col-12" id="nombre" name="nombre" placeholder="{{'MINPACL'| translate}}" [(ngModel)]="camposTesis.PalabrasClave">
                                            </div>

                                        </div>
                                    </div>
                                    <div class="col-lg-6 col-12">

                                        <div class="row pt-3">
                                            <div class="col-12 pt-1">
                                                <label for="nomEst">{{'MRESUMEN'| translate}}:</label>
                                                <textarea type="text" rows="5" class="form-control col-12" id="nombre" name="nombre" placeholder="{{'MINRESU'| translate}}" [(ngModel)]="camposTesis.Resumen"></textarea>
                                            </div>

                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="p-1.1 pl-3" style="margin-top: 1em;">
                            <button class="btn btn-info" style="display: block;" (click)="ResultShow()" (click)="buscarCamposTesis()">
                              <em class="fas fa-search"></em> {{'MBUSCAR'| translate}}
                            </button>
                        </div>
                    </form>



                    <!-- TABLA -->
                    <nz-spin [nzSpinning]="isSpinning">
                        <div class="resultadotab p-3" *ngIf="resultado">

                            <!-- TABLA FICHA PRUEBA -->
                            <nz-table #virtualTable [nzData]="resultadosBusqueda" [nzScroll]="{ y: '20em' }" [nzFrontPagination]="false" [nzShowPagination]="false">
                                <thead>
                                    <tr>
                                        <th scope="col" class="sort" data-sort="name" nzWidth="100px">
                                            {{'MRESULT'| translate}}</th>

                                    </tr>
                                </thead>

                                <tbody class="list">
                                    <nz-collapse nzAccordion>
                                        <nz-collapse-panel class="colapse" *ngFor="let user of resultadosBusqueda" [nzHeader]="exhedar" [nzActive]="false">
                                            <div class="row reboñeñe" style="height: 22em;">
                                                <nz-divider nzDashed nzOrientation="left" [nzText]="text">
                                                    <ng-template #text><em nz-icon nzType="file-search"></em><span class="rebo small">{{'MDETALL'| translate}}</span></ng-template>
                                                </nz-divider>
                                                <div class="cardatos col-lg-5 col-12">
                                                    <nz-descriptions nzSize="small" [nzColumn]="1">
                                                        <nz-descriptions-item nzTitle="{{'MNOMAP'| translate}}" [nzSpan]="1">{{user.Nombre}}</nz-descriptions-item>
                                                        <nz-descriptions-item nzTitle="{{'MESCPRO'| translate}}" [nzSpan]="1">
                                                            {{user.Escuela}}
                                                        </nz-descriptions-item>
                                                        <nz-descriptions-item nzTitle="{{'MFACU'| translate}}" [nzSpan]="1">{{user.Facultad}}</nz-descriptions-item>

                                                        <nz-descriptions-item nzTitle="DNI" [nzSpan]="1">{{user.DNI}}</nz-descriptions-item>
                                                        <nz-descriptions-item nzTitle="{{'MGRADO'| translate}}" [nzSpan]="1">{{user.Grado}}</nz-descriptions-item>

                                                    </nz-descriptions>
                                                </div>

                                                <div class="col-lg-7 col-12">

                                                    <nz-descriptions nzSize="small" [nzColumn]="1">

                                                        <nz-descriptions-item nzTitle="{{'MFEREG'| translate}}" [nzSpan]="1">{{user.FechaRegistro}}</nz-descriptions-item>
                                                        <nz-descriptions-item nzTitle="{{'MFEACT'| translate}}" [nzSpan]="1">{{user.FechaActualizacion}}</nz-descriptions-item>
                                                        <nz-descriptions-item nzTitle="{{'MRESUMEN'| translate}}" [nzSpan]="1">
                                                            <p nz-typography nzEllipsis nzExpandable [nzEllipsisRows]="2">
                                                                {{user.Resumen}}
                                                            </p>
                                                        </nz-descriptions-item>
                                                        <nz-descriptions-item nzTitle="{{'MPACLA'| translate}}" [nzSpan]="1">{{user.PalabrasClave}}</nz-descriptions-item>
                                                    </nz-descriptions>

                                                </div>
                                            </div>
                                            <!-- CONTENIDO DE CABECERA DE COLAPSABLE -->
                                            <ng-template #exhedar class="resheader">
                                                <div class="row">
                                                    <div class="col-auto col-lg-2 col-12">
                                                        <div class="icon1 icon-shape1 bg-gradient-icon1 text-white rounded-circle shadow">
                                                            <em class="fa fa-book-reader"></em>
                                                        </div>
                                                    </div>
                                                    <div class="col-lg-10 col-12">
                                                        <p><span class="tires ml-1"> {{'MTITES'| translate}}: </span> {{user.TituloTesis}}<br>
                                                            <span class="tires ml-1"> Por: </span> {{user.Nombre}} <br>
                                                            <span class="tires ml-1"> Fecha de Actualización: </span>{{user.FechaActualizacion}}
                                                        </p>
                                                    </div>

                                                </div>
                                            </ng-template>
                                            <!-- CONTENIDO DE CABECERA DE COLAPSABLE -->

                                        </nz-collapse-panel>
                                    </nz-collapse>

                                </tbody>
                            </nz-table>

                            <!-- TABLA FICHA PRUEBA -->

                        </div>
                    </nz-spin>
                    <!-- /.Card body -->
                </div>
                <!-- ./Card -->
            </div>
        </div>
    </div>
    <!-- /.Contenido -->