<!--Header de Contenido -->
<div class="header bg-primary pb-6">
    <div class="container-fluid">
        <div class="header-body">
            <div class="row align-items-center py-4">
                <div class="col-lg-12">
                    <h1 class="h2 text-white d-inline-block mb-0">{{'MUSUARIO'| translate}}</h1>
                    <nav aria-label="breadcrumb" class="d-none d-md-inline-block ml-md-4">
                        <ol class="breadcrumb breadcrumb-links breadcrumb-dark">
                            <li class="breadcrumb-item"><a routerLink="/adlistalumnos"><em class="fas fa-home"></em></a></li>
                            <li class="breadcrumb-item"><a routerLink="/adlistalumnos">{{'MUSUARIO'| translate}}</a></li>
                            <li class="breadcrumb-item active" aria-current="page">{{'MMODIFI'| translate}}</li>
                        </ol>
                    </nav>
                </div>

            </div>
        </div>
    </div>
</div>
<!--/.Header de Contenido -->
<!-- Contenido -->
<div class="container-fluid mt--6">
    <div class="row justify-content-center">
        <div class="col-xl-9 order-xl-1">
            <!-- Card -->
            <div class="card">
                <!-- Card header -->
                <div class="card-header">
                    <div class="row align-items-center">
                        <div class="col-12">
                            <h4 class="mb-0"> {{'MMODUS'| translate}} </h4>
                        </div>
                    </div>
                </div>
                <!-- /.Card header -->
                <!-- Card body -->
                <div class="card-body">

                    <form [formGroup]="form" novalidate (ngSubmit)="save($event)">
                        <div class="row">
                            <div class="col-lg-6 col-12">
                                <div class="pl-lg-4">
                                    <div class="row">
                                        <div class="col-lg-12">
                                            <div class="form-group">
                                                <div class="tag" style="margin-bottom: .5em;">
                                                    <em class="fa fa-user" style="color: #158bf8 !important;margin-right: .3em;"></em>
                                                    <span class="form-control-label" for="input-username">{{'MNOMAP'| translate}}:</span>
                                                </div>
                                                <input type="text" id="input-username" [(ngModel)]="estudiante.Nombre" class="form-control" placeholder="{{'MINOMA'| translate}}" formControlName="UserName">
                                                <div *ngIf="CampoUs.errors && CampoUs.touched" class="errorForm">
                                                    <p *ngIf="CampoUs.hasError('required')">
                                                        *{{'MCAMLL'| translate}}
                                                    </p>
                                                    <p *ngIf="CampoUs.hasError('pattern')">
                                                        *{{'MCARINV'| translate}}
                                                    </p>
                                                    <p *ngIf="CampoUs.hasError('minlength')">
                                                        *{{'MLONNOM'| translate}}
                                                    </p>
                                                    <p *ngIf="CampoUs.hasError('maxlength')">
                                                        *{{'MLONNOM'| translate}}
                                                    </p>
                                                </div>
                                            </div>
                                        </div>

                                        <div class="col-lg-12">
                                            <div class="form-group">
                                                <div class="tag" style="margin-bottom: .5em;">
                                                    <em class="fa fa-mail-bulk" style="color: #158bf8 !important;margin-right: .3em;"></em>
                                                    <span class="form-control-label" for="input-username">{{'MCELEC'| translate}}:</span>
                                                </div>
                                                <input [(ngModel)]="estudiante.Correo" type="email" id="input-email" class="form-control" value="example@example.com" placeholder="{{'MINCOR'| translate}}" formControlName="UserCorreo">
                                                <div *ngIf="CampoCor.errors && CampoCor.touched" class="errorForm">
                                                    <p *ngIf="CampoCor.hasError('required')">
                                                        *{{'MCAMOP'| translate}}
                                                    </p>
                                                    <p *ngIf="CampoCor.hasError('pattern')">
                                                        *{{'MCORINV'| translate}}
                                                    </p>

                                                </div>
                                            </div>
                                        </div>


                                        <div class="col-lg-12">
                                            <div class="form-group">
                                                <div class="tag" style="margin-bottom: .5em;">
                                                    <em class="fa fa-mobile-alt" style="color: #158bf8 !important;margin-right: .3em;"></em>
                                                    <span class="form-control-label" for="input-tel">{{'MTELF'| translate}}:</span>
                                                </div>
                                                <input [(ngModel)]="estudiante.Telefono" type="text" id="input-tel" class="form-control" placeholder="Ingrese su telefono" formControlName="UserCel">
                                                <div *ngIf="CampoCel.errors && CampoCel.touched" class="errorForm">
                                                    <p *ngIf="CampoCel.hasError('required')">
                                                        *{{'MCAMOP'| translate}}
                                                    </p>
                                                    <p *ngIf="CampoCel.hasError('pattern')">
                                                        *{{'MTELINV'| translate}}
                                                    </p>
                                                    <p *ngIf="CampoCel.hasError('maxlength')">
                                                        *{{'MLONINC9'| translate}}
                                                    </p>
                                                    <p *ngIf="CampoCel.hasError('minlength')">
                                                        *{{'MLONINC9'| translate}}
                                                    </p>
                                                </div>
                                            </div>
                                        </div>

                                        <div class="col-lg-12">
                                            <div class="form-group">
                                                <div class="tag" style="margin-bottom: .5em;">
                                                    <em class="fa fa-address-book" style="color: #158bf8 !important;margin-right: .3em;"></em>
                                                    <span class="form-control-label" for="input-dir">{{'MDIREC'| translate}}:</span>
                                                </div>
                                                <input [(ngModel)]="estudiante.Direccion" type="text" id="input-dir" class="form-control" value="example@example.com" placeholder="Ingrese dirección" formControlName="UserDir">
                                                <div *ngIf="CampoDir.errors && CampoDir.touched" class="errorForm">
                                                    <p *ngIf="CampoDir.hasError('required')">
                                                        *{{'MCAMOP'| translate}}
                                                    </p>
                                                    <p *ngIf="CampoDir.hasError('pattern')">
                                                        *{{'MDIRINV'| translate}}
                                                    </p>
                                                    <p *ngIf="CampoDir.hasError('minlength')">
                                                        *{{'MIN10CAR'| translate}}
                                                    </p>
                                                    <p *ngIf="CampoDir.hasError('maxlength')">
                                                        *{{'MAX50CR'| translate}}
                                                    </p>
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="row">

                                        <div class="col-lg-6">
                                            <div class="form-group">
                                                <div class="tag" style="margin-bottom: .5em;">
                                                    <em class="fa fa-id-card-alt" style="color: #158bf8 !important;margin-right: .3em;"></em>
                                                    <span class="form-control-label" for="input-username">{{'MNUMDOCA'| translate}}:</span>
                                                </div>
                                                <input [(ngModel)]="estudiante.DNI" class="form-control form-control-user" id="dniOp" placeholder="{{'MNUMDOC'| translate}}" formControlName="UserDNI">
                                                <div *ngIf="CampoDNI.errors && CampoDNI.touched" class="errorForm">
                                                    <p *ngIf="CampoDNI.hasError('required')">
                                                        *{{'MCAMOP'| translate}}
                                                    </p>
                                                    <p *ngIf="CampoDNI.hasError('pattern')">
                                                        *{{'MDNINV'| translate}}
                                                    </p>
                                                    <p *ngIf="CampoDNI.hasError('minlength')">
                                                        *{{'MLONINC8'| translate}}
                                                    </p>
                                                    <p *ngIf="CampoDNI.hasError('maxlength')">
                                                        *{{'MLONINC8'| translate}}
                                                    </p>
                                                </div>
                                            </div>
                                        </div>
                                    </div>


                                </div>
                            </div>

                            <div class="col-lg-6 col-12">

                                <div class="form-group">
                                    <div class="col">
                                        <div class="form-group">
                                            <input class="form-check-inline" type="checkbox" value="Estudiante" id="Estudiante" [(ngModel)]="estudiante.Estudiante" [ngModelOptions]="{standalone: true}" (change)="onCheckboxChange($event)">
                                            <label class="form-check-label" for="defaultCheck1">{{'MFILEST'| translate}} </label>
                                        </div>
                                    </div>
                                    <div class="col">
                                        <div class="form-group">
                                            <input class="form-check-inline" type="checkbox" value="Operador" id="Operador" [(ngModel)]="estudiante.Operador" [ngModelOptions]="{standalone: true}" (change)="onCheckboxChange($event)">
                                            <label class="form-check-label" for="defaultCheck1">{{'MFILOPE'| translate}}</label>
                                        </div>
                                    </div>
                                    <div class="col">
                                        <div class="form-group">
                                            <input class="form-check-inline" type="checkbox" value="Docente" id="Docente" [(ngModel)]="estudiante.Docente" [ngModelOptions]="{standalone: true}" (change)="onCheckboxChange($event)">
                                            <label class="form-check-label" for="defaultCheck1">{{'MFILDOC'| translate}} </label>
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <div class="row">
                                        <div class="col-10">
                                            <select class="form-control" name="" id="" #uname>
                                          <option *ngFor="let list of nombreRol"  [ngValue]="list">{{list}}</option>
                                        </select>
                                        </div>
                                        <div class="col-2">
                                            <button type="button" class="btn btn-primary" (click)="onCreate(uname)">+</button>
                                        </div>
                                    </div>

                                </div>


                                <div class="form-group">
                                    <div class="card">
                                        <div class="table-responsive" style="height: 150px;">
                                            <table aria-describedby="Tabla de roles" class="table table-striped">
                                                <thead>
                                                    <tr>
                                                        <th scope="col" class="sort" data-sort="name">
                                                            {{'MNOMROL'| translate}}</th>
                                                        <th scope="col"></th>
                                                    </tr>
                                                </thead>
                                                <tbody>

                                                    <tr *ngFor="let rol of roles" #uname1>
                                                        <th scope="row" value="rol">
                                                            {{rol.name}}
                                                        </th>
                                                        <td class="project-actions" value="rol">
                                                            <a class="btn1 btn-neutral btn-sm" (click)="delete(rol.name)">
                                                                <em class="fas fa-trash"></em>
                                                                <span class="btnTxt"> {{'MBORRAR'| translate}}</span>
                                                            </a>
                                                        </td>


                                                    </tr>
                                                </tbody>
                                            </table>
                                        </div>
                                    </div>
                                    <div *ngIf="rolError" class="errorForm">
                                        <p>
                                            *{{'MSELROL'| translate}}
                                        </p>
                                    </div>
                                </div>

                            </div>


                        </div>
                        <div class="form-group row">
                            <div class="col-lg-6 col-md-6 col-sm-6  col-xs-12 btnRes">
                                <a class="btn btn-danger btn-user btn-block col-lg-8 col-md-12 col-sm-12 col-xs-12" style="float:left;" routerLink="/adlistalumnos">
                                  {{'MCANCEL'| translate}}
                        </a>
                            </div>
                            <div class="col-lg-6 col-md-6 col-sm-6  col-xs-12 btnRes">
                                <button type="submit" class="btn btn-success btn-user btn-block col-lg-8 col-md-12 col-sm-12 col-xs-12" style="float: right;" [disabled]="cargando">
                                  <em nz-icon *ngIf="cargando" nzType="loading" nzTheme="outline"></em>
                                  {{'MMODIF'| translate}}
                                </button>

                            </div>
                        </div>

                    </form>
                    <!-- /.Card body -->
                </div>
                <!-- ./Card -->
            </div>
        </div>
    </div>
    <!-- /.Contenido -->