.card-header {
    margin-bottom: 0;
    padding: 1.25rem 1.5rem;
    border-bottom: 1px solid rgba(0, 0, 0, .05);
    background-color: #fff;
    border-radius: 1em;
}

.tabtit {
    font-weight: 600;
    font-size: 1.5em;
    letter-spacing: -1;
    padding-bottom: 1em;
    color: rgba(36, 36, 36, 0.911);
}

.mt--6,
.my--6 {
    margin-top: -5.5rem !important;
}

.card {
    margin-bottom: 30px;
    border-radius: .6em;
    box-shadow: 0 7px 14px rgba(50, 50, 93, 0.192), 0 3px 6px rgba(0, 0, 0, .08);
}

.header {
    position: relative;
    min-height: 200px;
    background: linear-gradient(87deg, #7a3939 0, #583030 100%) !important;
}

.subcard {
    margin-top: 100px;
}

.HeadCont {
    padding-left: 50px;
}

.sort {
    font-weight: 500 !important;
    color: rgb(13, 70, 134);
    font-size: 1em;
    text-align: center;
    align-items: center;
}

.breadcrumb-item {
    font-size: small;
    text-decoration: none;
}

input {
    font-size: small;
}

.table {
    width: 100%;
    margin-bottom: 1rem;
    /* color: #525f7f; */
    background-color: transparent;
    font-size: 0.9em;
}

.table th {
    padding: 1rem;
    vertical-align: top;
    font-weight: 400;
}

@media (max-width: 590px) {
    .btnsup {
        display: none;
    }
}

.Nombre {
    font-size: .9em;
    font-weight: 400;
    color: #000;
}

.btn1 {
    font-size: .7rem;
    position: relative;
    transition: all .15s ease;
    /*
letter-spacing: .015em; */
    text-transform: none;
    will-change: transform;
    color: rgb(185, 185, 185) !important;
    text-decoration: none;
}

.btn1:hover {
    transform: translateY(-1px);
    box-shadow: 0 7px 14px rgba(50, 50, 93, .1), 0 3px 6px rgba(0, 0, 0, .08);
    background-color: rgba(85, 161, 224, 0.925);
    color: white !important;
}

.btn {
    box-shadow: 0 7px 14px rgba(50, 50, 93, .1), 0 3px 6px rgba(0, 0, 0, .08);
    text-transform: none;
    will-change: transform;
    border: none;
    font-size: .8em;
    font-weight: 400;
}

.btn:hover {
    transform: translateY(-1px);
    background-color: #5962b4;
}

@media (max-width: 1060px) {
    .btnTxt {
        display: none;
        /* display: block;
font-size: 10px; */
    }
}

.form-check {
    margin-bottom: 1em;
    font-size: small;
}

.text-white {
    font-weight: 500;
}

.form-control-label {
    font-weight: 500;
    font-size: small;
}

#DocTip,
select {
    font-size: small;
}

.mb-0 {
    font-weight: 500;
    font-size: .8 em;
}

.errorForm {
    color: red;
    font-size: small;
}
