<!--Header de Contenido -->
<div class="header bg-primary pb-6">
    <div class="container-fluid">
        <div class="header-body">
            <div class="row align-items-center py-4">
                <div class="col-lg-6 col-7 TopMig">
                    <nav aria-label="breadcrumb" class="d-none d-md-inline-block ml-md-4">
                        <ol class="breadcrumb breadcrumb-links breadcrumb-dark">
                            <li class="breadcrumb-item"><a routerLink="/adlistaprocesos"><em class="fas fa-home"></em></a></li>

                            <li class="breadcrumb-item active" aria-current="page">Procesos</li>
                        </ol>
                    </nav>
                </div>

                <div class="col-lg-6 col-5 text-right">
                    <a class="btn btn-primary principal registro" data-toggle="modal" data-target="#modal-default">
                        <em class="fa fa-plus" style="font-size: 15px;"></em>
                        <span class="btnsup">Agregar proceso </span>
                    </a>
                </div>

            </div>
        </div>
    </div>
</div>
<!--/.Header de Contenido -->
<!-- Contenido -->
<div class="container-fluid mt--6">
    <div class="row justify-content-center">
        <div class="col-lg-10 col-md-12">
            <!-- Card -->
            <div class="card">
                <!-- Card header -->
                <div class="card-header border-0">


                    <div class="row">
                        <div class="col">
                            <div class="form-group">
                                <input type="text" class="form-control" name="filterPost" placeholder="Aqui va el rolsito" hidden>
                            </div>

                        </div>
                    </div>
                    <!-- Tabla procesos -->

                    <div class="row">

                        <div class="col-auto col">
                            <div class="icon icon-shape bg-gradient-icon text-white rounded-circle shadow">
                                <em class="fas fa-project-diagram"></em>
                            </div>
                        </div>
                        <div class="col">
                            <h4 class="mb-0 tabtit">Gestor de procesos</h4>
                        </div>

                        <div class="col">
                            <a class="btn2 btn btn-success" style="color: white;float: right;" data-toggle="modal" data-target="#datos">
                                <em class="fa fa-file-upload"></em>
                                <span class="btnsup"> Cargar archivo</span>
                            </a>
                        </div>
                    </div>
                </div>
                <!-- /.Card header -->
                <!-- Card body -->
                <div class="card-body border-0">
                    <hr>
                    <div class="tabla pl-3 pr-3">
                        <nz-table #virtualTable [nzData]="procesos" [nzScroll]="{ y: '18em' }">
                            <thead>
                                <tr>
                                    <th scope="col" class="sort" data-sort="name" nzWidth="100px">idProceso</th>
                                    <th scope="col" class="sort" data-sort="name" nzWidth="200px">Proceso</th>
                                    <th scope="col" class="sort" data-sort="name" nzWidth="100px"> Detalles</th>

                                </tr>
                            </thead>
                            <tbody>
                                <tr *ngFor="let proc of virtualTable.data">
                                    <td scope="row">{{proc.IdProceso}}</td>
                                    <td scope="row">{{proc.NombreProceso}}</td>
                                    <td class="project-actions  text-center align-items-center">
                                        <a class="btn1 btn-neutral btn-sm " (click)="enviar(proc.IdProceso) ">
                                            <em class="fas fa-folder "></em>
                                            <span class="btnTxt "> Detalles</span>
                                        </a>
                                    </td>
                                </tr>
                            </tbody>
                        </nz-table>
                    </div>
                    <!-- Fin Tabla procesos -->

                    <!-- Tabla actividades -->
                    <div class="row mb-3 pl-3 pr-3" *ngIf="ProcDet">
                        <div class="col-auto col">
                            <div class="icon icon-shape bg-gradient-icon text-white rounded-circle shadow">
                                <em class="fas fa-tasks"></em>
                            </div>
                        </div>
                        <div class="col-6">
                            <h4 class="mb-0" style="font-weight: 600;">Actividades por proceso</h4>
                        </div>

                        <div class="col-6 text-right">
                            <a class="btn btn-primary" hidden style="color: white;">
                                <em class="fa fa fa-plus"> </em>

                            </a>
                        </div>
                    </div>
                    <div *ngIf="ProcDet" class="pl-3 pr-3">
                        <nz-table #virtualTable1 [nzData]="actividades " [nzScroll]="{ y: '18em' } ">
                            <thead>
                                <tr>
                                    <th scope="col " class="sort " data-sort="name " nzWidth="100px">idProceso</th>
                                    <th scope="col " class="sort " data-sort="name " nzWidth="200px">IdProcesoActividad</th>
                                    <th scope="col " class="sort " data-sort="name " nzWidth="200px">Nombre Actividad</th>

                                </tr>
                            </thead>
                            <tbody>
                                <tr *ngFor="let ap of virtualTable1.data ">
                                    <td scope="row "> {{ap.IdProceso}}</td>
                                    <td scope="row "> {{ap.IdProcesoActividad}}</td>
                                    <td scope="row ">{{ap.Nombre}}</td>
                                </tr>

                            </tbody>
                        </nz-table>
                    </div>
                </div>
                <!-- /.Card body -->
            </div>
            <!-- ./Card -->
        </div>
    </div>
</div>
<!-- /.Contenido -->

<div class="modal fade" id="modal-default">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header justify-content-center">
                <h2 class="modal-title">
                    Agregar nuevo Proceso
                </h2>

            </div>
            <div class="modal-body">
                <form [formGroup]="form" novalidate>
                    <div class="form-group">
                        <label for="recipient-name" class="col-form-label">Proceso:</label>
                        <input [(ngModel)]="proceso.NombreProceso" class="form-control" placeholder="Nombre del proceso" formControlName="ProcName">
                        <div *ngIf="CampoProc.errors && CampoProc.touched" class="errorForm">
                            <p *ngIf="CampoProc.hasError('required')">
                                *Campo obligatorio
                            </p>
                            <p *ngIf="CampoProc.hasError('pattern')">
                                *Ingrese solo letras
                            </p>
                            <p *ngIf="CampoProc.hasError('minlength')">
                                *Minimo 5 caracteres
                            </p>

                        </div>
                    </div>
                </form>
            </div>
            <div class="modal-footer justify-content-between">
                <button type="button" class="btn btn-danger" data-dismiss="modal">Cancelar</button>
                <button type="button" class="btn btn-success" (click)="crearProceso()">Agregar</button>
            </div>
        </div>
        <!-- /.modal-content -->
    </div>
    <!-- /.modal-dialog -->
</div>
<!-- /.modal -->

<div class="modal fade" id="datos">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header justify-content-center">
                <h2 class="modal-title">
                    Cargar procesos
                </h2>

            </div>
            <div class="modal-body">
                <form>
                    <div class="form-group">
                        <label for="recipient-name" class="col-form-label">Nombre de archivo:</label>
                        <input type="file" id="file" class="form-control-file" (change)="file($event)">
                        <span [innerHTML]="result"></span>

                    </div>
                </form>
            </div>
            <div class="modal-footer justify-content-between">
                <button type="button" class="btn4 btn btn-danger" data-dismiss="modal">Cancelar</button>
                <button type="button" class="btn btn-lg btn-success" [disabled]="carga?true:null">Cargar</button>
            </div>
        </div>
        <!-- /.modal-content -->
    </div>
    <!-- /.modal-dialog -->
</div>
<!-- /.modal -->