<nz-layout class="nz-layoutClass">
    <!-- Inicio de Menú lateral -->
    <nz-sider class="menu-sidebar" nzCollapsible nzWidth="256px" nzBreakpoint="md" [(nzCollapsed)]="isCollapsed" [nzTrigger]="null">
        <div class="sidebar-logo">
            <a target="_blank">
                <img src="assets/images/Unsa.png" alt="logo">
                <h1 style="font-size: 35px; font-weight: 600;">UNSA</h1>
            </a>
        </div>

        <ul nz-menu nzTheme="dark" nzMode="inline" [nzInlineCollapsed]="isCollapsed" class="menList">
            <li nz-menu-item nzMatchRouter nzTooltipPlacement="right" nzTooltipTitle="{{'MUSTOL'| translate}}" nz-tooltip routerLink="/adlistalumnos" *ngIf="VeEstudiante">
                <em nz-icon nzType="user" nzTheme="outline"></em>
                <span>{{'MUSUARIOS'| translate}}</span>
            </li>
            <li nz-menu-item nzMatchRouter nzTooltipPlacement="right" nzTooltipTitle="{{'MBUSTOL'| translate}}" nz-tooltip routerLink="/bustesis" *ngIf="VeDocente">
                <em nz-icon nzType="file-search" nzTheme="outline"></em>
                <span>{{'MBUSCADOR'| translate}}</span>
            </li>
            <li nz-menu-item nzMatchRouter nzTooltipPlacement="right" nzTooltipTitle="{{'MIMPTOL'| translate}}" nz-tooltip routerLink="/informes" *ngIf="VeOperador">
                <em nz-icon nzType="line-chart" nzTheme="outline"></em>
                <span>{{'MINFORMES'| translate}}</span>
            </li>

            <li nz-menu-item nzMatchRouter nzTooltipPlacement="right" nzTooltipTitle="{{'MDOCTOL'| translate}}" nz-tooltip routerLink="/verdocumentos" *ngIf="VeOperador">
                <em nz-icon nzType="file-done" nzTheme="outline"></em>
                <span>{{'MDOCSINT'| translate}}</span>
            </li>
            <li nz-submenu nzTitle="{{'MMANTE'| translate}}" nzIcon="tool" nzTooltipTitle="{{'MMANTOL'| translate}}" nz-tooltip *ngIf="VeOperador">
                <ul>

                    <li nz-menu-item nzMatchRouter routerLink="/tiptesis">
                        <em nz-icon nzType="reconciliation" nzTheme="outline"></em>
                        <span>{{'MTIPTE'| translate}}</span>
                    </li>
                    <li nz-menu-item nzMatchRouter routerLink="/adlistagrado">
                        <em nz-icon nzType="audit" nzTheme="outline"></em>
                        <span>{{'MGRADO'| translate}}</span>
                    </li>
                    <li nz-menu-item nzMatchRouter nzTooltipPlacement="right" routerLink="/esttesis">
                        <em nz-icon nzType="fund-projection-screen" nzTheme="outline"></em>
                        <span>{{'MESTTE'| translate}}</span>
                    </li>
                    <li nz-menu-item nzMatchRouter nzTooltipPlacement="right" routerLink="/adlistipjurados">
                        <em nz-icon nzType="team" nzTheme="outline"></em>
                        <span>{{'MTIPJU'| translate}}</span>
                    </li>
                    <li nz-menu-item nzMatchRouter nzTooltipPlacement="right" routerLink="/adlistaescuelas">
                        <em nz-icon nzType="laptop" nzTheme="outline"></em>
                        <span>{{'MESCUE'| translate}}</span>
                    </li>
                    <li nz-menu-item nzMatchRouter nzTooltipPlacement="right" routerLink="/adlistafacultad">
                        <em nz-icon nzType="bank" nzTheme="outline"></em>
                        <span>{{'MFACU'| translate}}</span>
                    </li>
                    <li nz-menu-item nzMatchRouter nzTooltipPlacement="right" routerLink="/adlistaDoc">
                        <em nz-icon nzType="idcard" nzTheme="outline"></em>
                        <span>{{'MTIPDO'| translate}}</span>
                    </li>
                    <li nz-menu-item nzMatchRouter nzTooltipPlacement="right" routerLink="/adlistadictamen">
                        <em nz-icon nzType="file-protect" nzTheme="outline"></em>
                        <span>{{'MDICT'| translate}}</span>
                    </li>
                </ul>
            </li>
        </ul>
    </nz-sider>
    <!-- Fin de Menú lateral -->

    <nz-layout class="nz-layoutClass">
        <!-- Inicio de Header -->
        <nz-header class="nz-headerClass">
            <div class="app-header">
                <span class="header-trigger " (click)="isCollapsed = !isCollapsed">
                  <em class="trigger"
                    nz-icon
                    [nzType]="isCollapsed ? 'menu-unfold' : 'menu-fold'"
                  ></em>
                </span>

                <span class="titulo">{{'MESCPOS'| translate}} </span><span class="subtitulo">- {{'MSISGES'| translate}}</span>
                <div id="usrbutton">
                    <nz-button-group class="nz-button-groupClass">
                        <button nz-button nz-dropdown [nzDropdownMenu]="menu2" nzPlacement="bottomRight">
                          <span>{{nombre}}</span>
                          <em class="fa fa-user" ></em>
                        </button>
                    </nz-button-group>
                    <nz-dropdown-menu #menu2="nzDropdownMenu">
                        <ul nz-menu>
                            <li nz-menu-item (click)="logout()" id="usit">
                                <em nz-icon nzType="logout" nzTheme="outline"></em>
                                <span>{{'MCSES'| translate}}</span>
                            </li>
                        </ul>
                    </nz-dropdown-menu>
                </div>
            </div>
        </nz-header>
        <!-- Fin de Header -->
        <!-- Inicio de contenido dinamico -->
        <nz-content>
            <router-outlet></router-outlet>
        </nz-content>
        <!-- Fin de contenido dinamico -->
        <!-- Inicio de footer -->
        <nz-footer class="nz-footerClass">
            <div class="row">
                <div class="col-xl-1 col-lg-1.5 m-0 p-0">
                    <img src="assets/images/logowi1.png" alt="logo" width="74em" height="86em">
                </div>
                <div class="col-xl-11 col-lg-10 m-0 p-0">
                    <p>{{'MESUNA'| translate}}.</p>
                    <hr>
                    <p><span><em class="fas fa-home"></em> {{'MDIREC'| translate}}: </span>{{'MDIRECU'| translate}}</p>
                    <p><span><em class="fas fa-phone"></em> {{'MTELF'| translate}}: </span>01 54 229864</p>
                    <p><span><em class="fas fa-mail-bulk"></em> {{'MCELEC'| translate}}: </span>posgrado_informes@unsa.edu.pe</p>
                    <p><span><em class="fab fa-chrome"></em> {{'MSIWEB'| translate}}: </span><a>http://posgrado.unsa.edu.pe </a><br></p>
                    <div> </div>
                </div>
            </div>
        </nz-footer>
        <!-- Fin de footer -->
        <!-- Inicio de seccion inferior derecha fija en pagina -->
        <div class="fijo" nz-tooltip>
            <!-- <nz-switch [(ngModel)]="switchValue" nzCheckedChildren="On" nzUnCheckedChildren="Off"></nz-switch> -->
            <!-- Inicio de menu de ayuda -->
            <button class="botonQ" nz-button nz-dropdown nzShape="circle" [nzDropdownMenu]="menu"><em class="fas fa-question"></em></button>
            <nz-dropdown-menu #menu="nzDropdownMenu">
                <ul nz-menu>
                    <li class="text-center ml-4 mr-4 pt-1" style="font-weight: 500;"><em class="far fa-youtube-square" style="color:dodgerblue"></em> {{'MMEAYU'| translate}}</li>
                    <li nz-menu-divider></li>
                    <li nz-submenu nzTitle="{{'MMAAP'| translate}}">
                        <ul>
                            <li nz-menu-item (click)="Documento1()" *ngIf="VeDocente"><em class="dbic documento" nz-icon nzType="file-done" nzTheme="outline"></em> {{'MAUDOC'| translate}}</li>
                            <li nz-menu-item (click)="Documento2()" *ngIf="Mest"><em class="dbic documento" nz-icon nzType="file-done" nzTheme="outline"></em> {{'MAUEST'| translate}}</li>
                            <li nz-menu-item (click)="Documento3()" *ngIf="VeOperador"><em class="dbic documento" nz-icon nzType="file-done" nzTheme="outline"></em> {{'MAUOPE'| translate}}</li>
                        </ul>
                    </li>
                    <li nz-submenu nzTitle="{{'MVIDTU'| translate}}">
                        <ul>
                            <li nz-menu-item (click)="Video1()" *ngIf="Mest"><em class="dbic video" nz-icon nzType="youtube" nzTheme="outline"></em> {{'MVIDEST'| translate}}</li>
                            <li nz-menu-item (click)="Video2()" *ngIf="VeDocente"><em class="dbic video" nz-icon nzType="youtube" nzTheme="outline"></em> {{'MVIDDOC'| translate}}</li>
                            <li nz-menu-item (click)="Video3()" *ngIf="VeOperador"><em class="dbic video" nz-icon nzType="youtube" nzTheme="outline"></em> {{'MVIDOPE'| translate}}</li>
                        </ul>
                    </li>
                </ul>
            </nz-dropdown-menu>
            <!-- Fin de menu de ayuda -->
            <br>
            <!-- Inicio de Internacionalizacion -->
            <nz-avatar class="idioma" nzText="{{'MIDIOM'| translate}}" nz-button nz-dropdown [nzDropdownMenu]="menu1"></nz-avatar>
            <nz-dropdown-menu #menu1="nzDropdownMenu">
                <ul nz-menu>
                    <li class="text-center ml-4 mr-4 pt-1" style="font-weight: 500;"><em nz-icon nzType="translation" nzTheme="outline" style="color:dodgerblue"></em> {{'MSELIDI'| translate}}</li>
                    <li nz-menu-divider></li>
                    <li nz-menu-item (click)="changeLangEs()"><em class="dbic documento" nz-icon nzType="tag" nzTheme="outline"></em> {{'MIDESP'| translate}}</li>
                    <li nz-menu-item (click)="changeLangEn()"><em class="dbic documento" nz-icon nzType="tag" nzTheme="outline"></em> {{'MIDING'| translate}}</li>

                </ul>
            </nz-dropdown-menu>
            <!-- Fin de Internacionalizacion -->
            <!-- <select class="form-control" #langSelect (change)="changeLang(langSelect.value)">
              <option *ngFor="let lang of langs" [value]="lang">
                {{lang}}
              </option>
            </select> -->
        </div>
        <!-- Fin de seccion inferior derecha fija en pagina -->
    </nz-layout>

</nz-layout>