.menu-sidebar {
    color: white;
}

.menu-sidebar>ul>li:hover {
    background-color: #1890ff;
}

.nz-layoutClass {
    width: 100%;
    margin-bottom: 48px;
}

.nz-layoutClass:last-child {
    margin: 0;
}

.ant-menu-dark .ant-menu-inline.ant-menu-sub {
    background: #061d33 !important;
}

.ant-menu-dark .ant-menu-inline.ant-menu-sub {
    background: #041b31 !important;
}

.titulo {
    text-transform: none !important;
    font-size: 1.5em !important;
    font-weight: 500 !important;
    color: #ffffff;
    text-shadow: 0 8px 9px #000000a4, 0px -2px 1px rgb(145, 144, 144) !important;
    letter-spacing: 0px !important;
    text-align: center;
}

.subtitulo {
    color: #d6d6d6e7 !important;
    font-size: 1.3em;
    font-weight: 500 !important;
    text-shadow: 0 6px 9px #00000098, 0px -1px 1px rgb(145, 144, 144) !important;
}

@media (max-width: 1150px) {
    .titulo {
        display: none;
    }
    .subtitulo {
        display: none;
    }
}

.nz-footerClass {
    background: rgb(109, 109, 109);
    color: white;
    font-size: .7em;
}

.nz-footerClass p {
    margin: 0;
    margin-bottom: -.6em;
}

.nz-footerClass hr {
    margin-top: .4em;
    margin-bottom: .4em;
    border-style: dashed;
    size: 1em;
    border-color: rgb(182, 182, 182);
}

.menu-sidebar {
    position: relative;
    z-index: 10;
    min-height: 100vh;
    box-shadow: 2px 0 6px rgba(0, 0, 0, 0.753);
    background-color: #16213a;
}

.header-trigger {
    height: 64px;
    padding: 20px 24px;
    font-size: 20px;
    cursor: pointer;
    transition: all .3s, padding 0s;
}

.trigger:hover {
    color: #1890ff;
}

.sidebar-logo {
    position: relative;
    height: 64px;
    padding-left: 24px;
    overflow: hidden;
    line-height: 64px;
    transition: all .3s;
}

.sidebar-logo img {
    display: inline-block;
    height: 40px;
    width: 35px;
    vertical-align: middle;
}

.sidebar-logo h1 {
    display: inline-block;
    margin: 0 0 0 20px;
    color: #fff;
    font-weight: 600;
    font-size: 14px;
    font-family: Avenir, Helvetica Neue, Arial, Helvetica, sans-serif;
    vertical-align: middle;
}

.nz-headerClass {
    padding: 0;
    width: 100%;
    z-index: 2;
}

.app-header {
    position: relative;
    height: 64px;
    padding: 0;
    background: rgb(109, 109, 109);
    box-shadow: 0 1px 4px rgba(0, 21, 41, .08);
    color: white;
}

.inner-content {
    padding: 24px;
    background: #fff;
    height: 100%;
}

@media (max-width: 560px) {
    .p-5 {
        padding: 0rem!important;
    }
}


/*

AQUIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIII
*/

#u1 {
    margin: 0px;
}

#u2 {
    margin: 0px;
}

.titulo-log {
    font-family: "Arial Rounded MT Bold", "Helvetica Rounded", Arial, sans-serif;
    text-transform: uppercase;
    font-size: 35px;
    font-weight: 1000;
    color: #eaf0fa;
    margin-top: 5%;
    text-shadow: 0 8px 9px #000000, 0px -2px 1px rgb(145, 144, 144);
    letter-spacing: 0px;
    text-align: center;
    border-radius: 20px;
}

.subtitulo-log {
    font-family: "Arial Rounded MT Bold", "Helvetica Rounded", Arial, sans-serif;
    font-size: 40px;
    color: #dad8d8;
    text-shadow: 0 8px 9px #000000, 0px -2px 1px rgb(145, 144, 144);
    font-weight: bold;
    letter-spacing: -1px;
    text-align: center;
    border-radius: 20px;
}

.card-widget {
    border: 0;
    position: relative
}

.img-circle {
    border-radius: 50%
}

.elevation-2 {
    box-shadow: 0 3px 6px rgba(0, 0, 0, .16), 0 3px 6px rgba(0, 0, 0, .23)!important
}

#usrbutton {
    float: right;
    margin-top: 4px;
    margin-right: 15px;
}

.nz-button-groupClass>button:hover {
    transform: translateY(-1px);
    box-shadow: 0 7px 14px rgba(50, 50, 93, .1), 0 3px 6px rgba(0, 0, 0, .08);
    background-color: rgba(85, 161, 224, 0.925);
    color: white !important;
}

#usrbutton span {
    color: white;
    margin-right: 7px;
    font-weight: 500;
    font-size: 13px;
}

#usit {
    border: none;
    background-color: white;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 13px;
    color: rgb(85, 84, 84);
}

@media (max-width: 750px) {
    #usrbutton {
        margin-right: 0;
    }
}

.example-button-container {
    display: flex;
    justify-content: center;
    width: 120px;
}

@media (max-width: 900px) {
    #selector {
        display: none;
    }
    #buscar {
        margin-top: 15px;
    }
}

.menList {
    background-color: transparent;
    color: rgba(255, 255, 255, 0.63);
}

.ant-menu:not(.ant-menu-horizontal) .ant-menu-item-selected {
    background-color: dodgerblue;
    color: #fff;
}

.menList>li:hover,
.menList>li:active,
.menList>li::selection {
    background-color: rgb(30, 43, 56);
    color: #fff;
}

.fa-user {
    color: rgb(240, 240, 240);
}

.nz-button-groupClass {
    margin: 0 8px 8px 0;
}

.nz-button-groupClass>button {
    background-color: transparent;
    border: none;
}

@media (max-width: 294px) {
    .nz-button-groupClass>button>span {
        display: none;
    }
}

.fijo {
    position: fixed;
    bottom: 2em;
    right: 2em;
    /*  background-color: rgb(192, 192, 192); */
    border-radius: 50%;
    font-size: 1em;
    /*
    box-shadow: 0px 8px 10px -5px black; */
}

.idioma {
    background-color: transparent;
    box-shadow: 0px 8px 10px -5px black;
    cursor: pointer;
    margin-top: .5em;
}

.botonQ {
    background-color: rgb(16, 89, 161);
    border: 1px solid;
    border-color: rgb(16, 89, 161);
    color: white;
    box-shadow: 0px 8px 10px -5px black;
}

.botonQ:hover {
    background-color: dodgerblue;
    border: 1px solid;
    border-color: dodgerblue;
    color: white;
}

.fijo:hover {
    transform: translateY(-3px);
}

.dbic {
    display: contents;
    /* color: rgb(39, 119, 223); */
    font-weight: 600;
    font-size: 2em;
}

.video {
    color: red;
}

.documento {
    color: rgb(39, 119, 223);
}

.idioma {
    background-color: rgb(37, 132, 177);
}