.card-body {
    box-shadow: 0 7px 14px rgba(0, 0, 0, 0.219), 0 3px 6px rgba(0, 0, 0, 0.068);
}

.card-header {
    background-color: #fff;
}

.mt--6,
.my--6 {
    margin-top: -8.5rem !important;
}

.header {
    position: relative;
    min-height: 200px;
}

.breadcrumb-item {
    font-size: small;
    text-decoration: none;
}


/**adsfsdasdakshdgaksdgajksgdjagsdkajgsdkjagsdj*/

@media (max-width: 590px) {
    .btnsup {
        display: none;
    }
}

.Nombre {
    font-size: .9em;
    font-weight: 400;
    color: #000;
}

.btn1 {
    font-size: .7rem;
    position: relative;
    transition: all .15s ease;
    text-transform: none;
    will-change: transform;
    color: rgb(185, 185, 185) !important;
    text-decoration: none;
    display: inline-block;
}

.btn1:hover {
    transform: translateY(-1px);
    box-shadow: 0 7px 14px rgba(50, 50, 93, .1), 0 3px 6px rgba(0, 0, 0, .08);
    background-color: rgba(85, 161, 224, 0.925);
    color: white !important;
}

.btn {
    box-shadow: 0 7px 14px rgba(50, 50, 93, .1), 0 3px 6px rgba(0, 0, 0, .08);
    text-transform: none;
    will-change: transform;
    /* background-color: #1874dd; */
    border: none;
    font-size: .8em;
    font-weight: 400;
}

.btn:hover {
    transform: translateY(-1px);
    background-color: #5962b4;
}

@media (max-width: 1060px) {
    .btnTxt {
        display: none;
    }
}

.text-white {
    font-weight: 500;
}


/********************************/


/*  */

form {
    font-size: 14px;
    font-weight: 500;
}

option,
select,
input {
    font-size: 13px;
}

.bg-login-image {
    background: url(https://portal.andina.pe/EDPfotografia3/Thumbnail/2020/03/11/000660129W.jpg);
    background-position: center;
    background-size: cover
}

@media (max-width: 560px) {
    .card-body {
        padding: 0px;
    }
    .p-5 {}
}

.errorForm {
    color: red;
    font-size: small;
}