<!-- Header -->
<div class="header bg-primary pb-6">
    <div class="container-fluid">
        <div class="header-body">
            <div class="row align-items-center py-4">
                <div class="col-lg-12 col-12 ">
                    <h1 class="h2 text-white d-inline-block mb-0">Tesis</h1>
                    <nav aria-label="breadcrumb" class="d-none d-md-inline-block ml-md-4">
                        <ol class="breadcrumb breadcrumb-links breadcrumb-dark">
                            <li class="breadcrumb-item"><a routerLink="/verprograma"><em class="fas fa-home"></em></a></li>
                            <li class="breadcrumb-item"><a routerLink="/verprograma">Programas</a></li>
                            <li class="breadcrumb-item active" aria-current="page">Tesis</li>
                        </ol>
                    </nav>
                </div>

            </div>
        </div>
    </div>
</div>


<!-- Page content -->
<div class="container mt--6">

    <div class="card o-hidden border-0 shadow-lg my-5">
        <div class="card-body p-0 ">
            <div class="row">
                <div class="col-lg-5 d-none d-lg-block bg-login-image">

                </div>
                <div class="col-lg-7">
                    <div class="p-5">
                        <div class="text-center">

                            <h1 class="h4 text-gray-900 mb-4">Agregar Tesis</h1>
                        </div>
                        <div>
                            <hr>
                            <form [formGroup]="form" novalidate (ngSubmit)="save($event)">
                                <div class="row">
                                    <div class="col-lg-6">
                                        <div class="form-group">
                                            <label class="form-control-label" for="input-username">Titulo</label>
                                            <input [(ngModel)]="estudiante.Nombre" class="form-control form-control-user" id="NameOp" placeholder="Titulo de tesis" formControlName="UserName">
                                            <div *ngIf="CampoUs.errors && CampoUs.touched" class="errorForm">
                                                <p *ngIf="CampoUs.hasError('required')">
                                                    *Campo obligatorio
                                                </p>
                                                <p *ngIf="CampoUs.hasError('pattern')">
                                                    *Ingrese solo letras
                                                </p>
                                                <p *ngIf="CampoUs.hasError('minlength')">
                                                    *Minimo 10 caracteres
                                                </p>

                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-lg-6">
                                        <div class="form-group">
                                            <label class="form-control-label" for="input-username">Tipo de tesis</label>
                                            <select class="custom-select" id="DocTip">
                                              <option selected>Seleccione el tipo de tesis</option>
                                              <option>Tesis formato articulo</option>

                                            </select>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-lg-6">
                                        <div class="form-group">
                                            <label class="form-control-label" for="input-username">Estado</label>
                                            <select class="custom-select" id="DocTip">
                                              <option selected>Seleccione el estado</option>
                                              <option>Recepción de expediente</option>

                                            </select>
                                        </div>
                                    </div>
                                    <div class="col-lg-6">
                                        <div class="form-group">
                                            <label class="form-control-label" for="input-username">Dictamen</label>
                                            <select class="custom-select" id="DocTip">
                                          <option selected>Seleccione el dictamen</option>
                                          <option>Sin dictamen</option>

                                        </select>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">

                                    <div class="col-lg-12">
                                        <div class="form-group">
                                            <label class="form-control-label" for="input-username">Asesor</label>
                                            <select class="custom-select" id="DocTip">
                                      <option selected>Seleccione un asesor</option>
                                      <option>Pedro Gonzales</option>

                                    </select>
                                        </div>
                                    </div>

                                </div>
                                <hr>
                                <div class="form-group row ">
                                    <div class="col-lg-6 col-md-6 col-sm-6  col-xs-12 btnRes">
                                        <a class="btn btn-danger btn-user btn-block col-lg-8 col-md-12 col-sm-12 col-xs-12" style="float:left;" [routerLink]="['/verprograma']">
                                          Cancelar
                                        </a>
                                    </div>
                                    <div class="col-lg-6 col-md-6 col-sm-6  col-xs-12 btnRes">
                                        <button type="submit" class="btn btn-success btn-user btn-block col-lg-8 col-md-12 col-sm-12 col-xs-12" style="float: right; "> Guardar</button>

                                    </div>
                                </div>

                            </form>

                        </div>


                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
